{
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "markup",
          "css",
          "javascript",
          "typescript",
          "shell",
          "json",
          "python",
          "java",
          "groovy",
          "html",
          "yaml",
          "toml",
          "jsx",
          "graphql",
          "sql",
          "jinja2",
          "handlebars",
          "ini",
          "less",
          "nginx",
          "go",
          "hcl"
        ],
        "plugins": ["normalize-whitespace"],
        "theme": "default",
        "css": false
      }
    ]
  ],
  "presets": ["babel-preset-gatsby"]
}
