{
  "parser": "babel-eslint", // uses babel-eslint transforms
  "settings": {
    "react": {
      "version": "detect" // detect react version
    }
  },
  "env": {
    "node": true // defines things like process.env when generating through node
  },
  "extends": [
    "eslint:recommended", // use recommended configs
    "plugin:react/recommended"
  ],
  "rules": {
    "no-anonymous-exports-page-templates": "warn",
    "limited-exports-page-templates": "warn"
  }
}
