{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,

    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "commonjs": true,
    "node": true, // defines things like process.env when generating through node
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "ignorePatterns": ["node_modules/", ".cache/", "public/"],
  "rules": {
    "no-anonymous-exports-page-templates": "warn",
    "limited-exports-page-templates": "warn"
  }
}
