.commento-root {
    width: -webkit-fill-available !important;
    margin: 0 0 20px !important;
    padding: 0 !important;
    overflow-x: visible !important;
}

@media (max-width: 800px) {
    .commento-root {
        margin: 0;
        padding: 0;
    }
}

.commento-root * {
    font-size: 14px !important;
    line-height: 1.25 !important;
}

.commento-root p,
.commento-root a {
    font-size: 13px !important;
}

#commento-comments-area {
    box-shadow: 0 1px 4px rgba(39, 44, 49, 0.15);
}

.commento-root code {
    padding: 1px 3px !important;
    border-radius: 3px !important;
    background: rgba(145, 176, 211, .15) !important;
    color: #5d94b7 !important;
    font-size: 13px !important;
}

.commento-root .commento-button-margin {
    box-shadow: 0 !important;
}

.commento-root .commento-root-font * {
    font-family: 'TTNormsPro-Regular', sans-serif;
}

.commento-root .commento-card .commento-name {
    margin: 0 0 2px !important;
    color: #6b6e73 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 1 !important;
    text-transform: capitalize;
}

.commento-card .commento-timeago {
    font-size: 11px !important;
}

.commento-card .commento-score {
    font-family: 'TTNormsPro-Regular', sans-serif !important;
    font-size: 11px !important;
    font-weight: normal !important;
}

.commento-root .commento-subtitle {
    margin-left: 0 !important;
}

.commento-root .commento-subtitle * {
    display: inline;
    color: #7c8a8f !important;
    line-height: 1;
}

.commento-root .commento-subtitle .commento-score {
  margin-right: 10px;
}

.commento-root .commento-avatar,
.commento-root .commento-avatar-img {
    display: none !important;
}

.commento-root .commento-sort-policy-buttons-container {
    display: none !important;
}

.commento-header {
    position: relative;
}

.commento-root .commento-options {
    display: flex;
    position: absolute !important;
    top: 0px;
    right: 0px;
    align-items: center;
    justify-content: space-between;
    width: 150px !important;
    height: 20px !important;
    margin-top: 0;
    float: unset;
}

@media(max-width: 600px) {
    .commento-root .commento-options {
        width: 120px !important;
    }
}

.commento-card .commento-card .commento-options {
    top: 0px;
    right: 0;
}

.commento-options-clearfix {
    display: none;
}

.commento-options-mobile {
    margin: 20px !important;
}

.commento-options .commento-option-button {
    position: relative !important;
    right: unset !important
}

.commento-root .commento-options button {
    margin: 0 !important;
}

.commento-root .commento-options button.commento-option-reply {
    width: 25px !important;
    height: 25px !important;
}

.commento-root .commento-card .commento-option-downvote,
.commento-root .commento-card .commento-option-upvote,
.commento-root .commento-card .commento-option-collapse {
    width: 14px !important;
    height: 14px !important;
}

.commento-root .commento-error-box {
    width: -webkit-fill-available !important;
    height: auto !important;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #dccacd !important;
    border-radius: 3px;
    background: #efe2e4;
    color: #9a6c6c !important;
    font-family: 'TTNormsPro-Regular', sans-serif;
    font-size: 14px !important;
    line-height: 1.2 !important;
    text-align: center;
}

.commento-root #commento-logged-container {
    display: none;
}

.commento-root #commento-logged-container .commento-logout {
    position: relative;
    color: #adb5bd;
}

.commento-root .commento-main-area {
    display: flex !important;
    flex-direction: column !important;
    flex-flow: column-reverse !important;
    transition: filter 0.2s;
}

.commento-root .commento-main-area .commento-comments {
    margin-bottom: 10px;
}

.commento-root #commento-main-area .commento-comments>div>.commento-card {
    padding: 20px !important;
    border-left: none !important;
    border-radius: 2px !important;
}

@media(max-width: 600px) {
    .commento-root #commento-main-area .commento-comments>div>.commento-card {
        padding: 20px !important;
    }
}

.commento-root .commento-button-margin {
    position: relative;
    padding-top: 0 !important;
}

.commento-root .commento-button-margin:hover .commento-submit-button {
    opacity: 1;
}

.commento-root .commento-button-margin textarea {
    margin-top: 13px;
}

.commento-anonymous-checkbox-container {
    display: none;
}

.commento-root .commento-card {
    position: relative;
    margin-top: 0 !important;
    background: white;
}

@media (max-width: 600px) {
    .commento-root .commento-card {
        padding: 17px !important;
    }
}

.commento-root .commento-card .commento-card {
    margin-top: 25px !important;
    margin-left: 20px !important;
    padding: 20px 0 0 20px !important;
    overflow: hidden;
    box-shadow: none !important;
}

@media (max-width: 700px) {
    .commento-root .commento-card .commento-card {
        margin-top: 20px !important;
        margin-left: 10px !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

.commento-root .commento-card>div:nth-of-type(2) {
    margin: 0;
}

.commento-root .commento-card .commento-button-margin {
    margin-top: 20px;
    box-shadow: 0 !important;
}

.commento-root .commento-card .commento-markdown-button {
    display: none;
}

.commento-root .commento-card p {
    margin: 10px 0 0 !important;
    line-height: 1.4 !important;
}

@media(max-width: 600px) {
    .commento-root .commento-card p {
        margin: 10px 0 0 !important;
        line-height: 1.4 !important;
    }
}

.commento-root .commento-card .commento-body {
    font-size: 0.9em !important;
}

@media(max-width: 600px) {
    .commento-root .commento-card .commento-body {
        margin: 15px 0;
    }
}

.commento-root .commento-submit-button {
    display: block !important;
    z-index: 10;
    position: absolute !important;
    right: 12px !important;
    bottom: 15px !important;
    height: 35px;
    margin: 0 !important;
    padding: 8px 12px !important;
    border: 1px solid #6baaf2 !important;
    border-radius: 0 !important;
    background: #6baaf2 !important;
    box-shadow: none !important;
    color: white !important;
    font-family: 'TTNormsPro-DemiBold', sans-serif !important;
    font-size: 11px !important;
    line-height: 1 !important;
    text-transform: uppercase !important;
    opacity: 0;
    transition: all 0.2s ease-out;
}

@media (max-width: 600px) {
    .commento-root .commento-submit-button {
        top: 108px !important;
        right: 10px !important;
        height: unset;
        padding: 10px 10px !important;
        font-size: 0.7em !important;
        line-height: 1;
    }
}

.commento-root .commento-submit-button:hover {
    border: 1px solid #6baaf2 !important;
    background: white !important;
    color: #6baaf2 !important;
}

.commento-root .commento-footer {
    display: none;
}

.commento-root .commento-login-text {
    display: none !important;
}

.commento-root .commento-markdown-button {
    bottom: 15px !important;
    font-size: 11px !important;
    line-height: 1 !important;
}

.commento-root .commento-markdown-button b {
    font-size: .9em !important;
}

@media (max-width: 600px) {
    .commento-root .commento-markdown-button {
        display: none;
    }
}

.commento-root #commento-textarea-root,
.commento-root textarea {
    -webkit-appearance: none !important;
    -webkit-transition: all 0.2s ease-out;
    position: relative;
    width: -webkit-fill-available;
    height: 120px !important;
    min-height: unset !important;
    max-height: 240px !important;
    margin-top: 0 !important;
    padding: 15px !important;
    overflow: hidden !important;
    border: 0;
    border-radius: 2px;
    outline: none;
    box-shadow: 0 1px 4px rgba(39, 44, 49, 0.15);
    transition: all 0.2s ease-out;
}

.commento-card textarea {
    height: 100px !important;
}

.commento-body .commento-submit-button {
    top: 87px !important;
}

.commento-root #commento-textarea-root:hover,
.commento-root textarea:hover {
    border: 1px inset #6baaf2 !important;
    background: #f8fbfe !important;
}

.commento-root #commento-textarea-root:hover::placeholder,
.commento-root textarea:hover::placeholder {
    opacity: 0;
}

.commento-root textarea:focus {
    border: 1px inset #6baaf2 !important;
    background: white !important;
}

.commento-root #commento-textarea-root::placeholder,
.commento-root textarea::placeholder,
.commento-root textarea::-webkit-input-placeholder {
    display: block;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100%;
    margin: auto !important;
    padding-top: 10px;
    color: #aeb1bd !important;
    font-family: 'TTNormsPro-Regular', sans-serif;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.8;
    transition: all 0.2s ease-out;
}

@media (max-width: 600px) {

    .commento-root #commento-textarea-root::placeholder,
    .commento-root textarea::placeholder {
        font-size: 15px;
    }
}

.commento-root .commento-markdown-button {
    position: absolute;
    bottom: 15px;
    left: 20px;
    height: fit-content;
    margin: 0 !important;
    background: none;
}

.commento-root .commento-markdown-button:hover {
    cursor: pointer;
}

.commento-root .commento-markdown-button * {
    background: none !important;
}

.commento-root .commento-markdown-help {
    width: 100%;
    padding: 15px;
    background: rgba(255, 255, 255, 0.5);
}

.commento-root .commento-markdown-help * {
    font-size: 0.95em !important;
}

.commento-root .commento-markdown-help tr td {
    padding: 0 6px 4px !important;
}

@media (max-width: 600px) {
    .commento-root .commento-markdown-help td {
        font-size: 10px;
    }
}

.commento-root .commento-markdown-help tr td pre {
    display: inline;
    font-family: monospace;
    font-size: 13px
}

.commento-root .commento-markdown-help tr td:last-of-type {
    padding: 0 6px 0 !important;
}

.commento-root .commento-logo-text {
    display: none !important;
}

.commento-textarea-super-container-root {
    position: relative;
}

.commento-textarea-super-container-root:focus {
    opacity: 0;
}

.commento-login-text {
    display: none;
}

.commento-login-box {
    z-index: 100;
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 90%;
    max-width: 500px;
    height: fit-content;
    min-height: 100px;
    margin: auto;
    padding: 16px;
    background: #f1f3f5;
    box-shadow: 0 0 200px #576280;
    opacity: 1;
    transition: opacity 0.2s;
}

.commento-card .commento-options-clearfix {
    display: none !important;
}

.commento-options button {
  border: 0 !important;
  background: #ced4da !important;
}

.commento-options .commento-option-collapse {
    -webkit-mask-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg enable-background="new 0 0 42 42" version="1.1" viewBox="0 0 42 42" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><polygon points="42 20 0 20 0 22 20 22 22 22 42 22" fill="%231e2127"/></svg>');
    width: 14px;
    height: 14px;
    margin: 12px 6px;
    background: #ced4da !important;
    mask-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg enable-background="new 0 0 42 42" version="1.1" viewBox="0 0 42 42" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><polygon points="42 20 0 20 0 22 20 22 22 22 42 22" fill="%231e2127"/></svg>');
}

.commento-options .commento-option-upvote,
.commento-options .commento-option-downvote {
    -webkit-mask-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg enable-background="new 0 0 284.929 284.929" version="1.1" viewBox="0 0 284.93 284.93" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">	<path d="m282.08 195.28-133.05-133.04c-1.901-1.903-4.088-2.856-6.562-2.856s-4.665 0.953-6.567 2.856l-133.04 133.04c-1.906 1.906-2.856 4.093-2.856 6.568 0 2.474 0.953 4.664 2.856 6.566l14.272 14.271c1.903 1.903 4.093 2.854 6.567 2.854s4.664-0.951 6.567-2.854l112.2-112.2 112.21 112.21c1.902 1.903 4.093 2.848 6.563 2.848 2.478 0 4.668-0.951 6.57-2.848l14.274-14.277c1.902-1.902 2.847-4.093 2.847-6.566 1e-3 -2.476-0.944-4.666-2.846-6.569z" fill="%23abbac4"/></svg>');
    width: 14px;
    height: 14px;
    margin: 12px 6px;
    background: #ced4da !important;
    mask-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg enable-background="new 0 0 284.929 284.929" version="1.1" viewBox="0 0 284.93 284.93" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">	<path d="m282.08 195.28-133.05-133.04c-1.901-1.903-4.088-2.856-6.562-2.856s-4.665 0.953-6.567 2.856l-133.04 133.04c-1.906 1.906-2.856 4.093-2.856 6.568 0 2.474 0.953 4.664 2.856 6.566l14.272 14.271c1.903 1.903 4.093 2.854 6.567 2.854s4.664-0.951 6.567-2.854l112.2-112.2 112.21 112.21c1.902 1.903 4.093 2.848 6.563 2.848 2.478 0 4.668-0.951 6.57-2.848l14.274-14.277c1.902-1.902 2.847-4.093 2.847-6.566 1e-3 -2.476-0.944-4.666-2.846-6.569z" fill="%23abbac4"/></svg>');
}

.commento-options .commento-option-downvote {
    transform: rotate(180deg);
}

.commento-options .commento-option-edit {
    -webkit-mask-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg enable-background="new 0 0 528.899 528.899" version="1.1" viewBox="0 0 528.899 528.899" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="m328.88 89.125l107.59 107.59-272.34 272.34-107.53-107.59 272.28-272.34zm189.23-25.948l-47.981-47.981c-18.543-18.543-48.653-18.543-67.259 0l-45.961 45.961 107.59 107.59 53.611-53.611c14.382-14.383 14.382-37.577 0-51.959zm-517.81 449.51c-1.958 8.812 5.998 16.708 14.811 14.565l119.89-29.069-107.53-107.59-27.173 122.09z"/></svg>');
    width: 14px;
    height: 14px;
    margin: 12px 6px;
    background: #ced4da !important;
    mask-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg enable-background="new 0 0 528.899 528.899" version="1.1" viewBox="0 0 528.899 528.899" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="m328.88 89.125l107.59 107.59-272.34 272.34-107.53-107.59 272.28-272.34zm189.23-25.948l-47.981-47.981c-18.543-18.543-48.653-18.543-67.259 0l-45.961 45.961 107.59 107.59 53.611-53.611c14.382-14.383 14.382-37.577 0-51.959zm-517.81 449.51c-1.958 8.812 5.998 16.708 14.811 14.565l119.89-29.069-107.53-107.59-27.173 122.09z"/></svg>');
}

.commento-options .commento-option-remove {
    -webkit-mask-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg enable-background="new 0 0 59 59" version="1.1" viewBox="0 0 59 59" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><g fill="%231e2127"><path d="m29.5 51c0.552 0 1-0.447 1-1v-33c0-0.553-0.448-1-1-1s-1 0.447-1 1v33c0 0.553 0.448 1 1 1z"/><path d="m19.5 51c0.552 0 1-0.447 1-1v-33c0-0.553-0.448-1-1-1s-1 0.447-1 1v33c0 0.553 0.448 1 1 1z"/><path d="m39.5 51c0.552 0 1-0.447 1-1v-33c0-0.553-0.448-1-1-1s-1 0.447-1 1v33c0 0.553 0.448 1 1 1z"/><path d="M52.5,6H38.456c-0.11-1.25-0.495-3.358-1.813-4.711C35.809,0.434,34.751,0,33.499,0H23.5c-1.252,0-2.31,0.434-3.144,1.289 C19.038,2.642,18.653,4.75,18.543,6H6.5c-0.552,0-1,0.447-1,1s0.448,1,1,1h2.041l1.915,46.021C10.493,55.743,11.565,59,15.364,59 h28.272c3.799,0,4.871-3.257,4.907-4.958L50.459,8H52.5c0.552,0,1-0.447,1-1S53.052,6,52.5,6z M21.792,2.681 C22.24,2.223,22.799,2,23.5,2h9.999c0.701,0,1.26,0.223,1.708,0.681c0.805,0.823,1.128,2.271,1.24,3.319H20.553 C20.665,4.952,20.988,3.504,21.792,2.681z M46.544,53.979C46.538,54.288,46.4,57,43.636,57H15.364 c-2.734,0-2.898-2.717-2.909-3.042L10.542,8h37.915L46.544,53.979z"/></g></svg>');
    width: 14px;
    height: 14px;
    margin: 12px 6px;
    background: #e03131 !important;
    mask-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg enable-background="new 0 0 59 59" version="1.1" viewBox="0 0 59 59" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><g fill="%231e2127"><path d="m29.5 51c0.552 0 1-0.447 1-1v-33c0-0.553-0.448-1-1-1s-1 0.447-1 1v33c0 0.553 0.448 1 1 1z"/><path d="m19.5 51c0.552 0 1-0.447 1-1v-33c0-0.553-0.448-1-1-1s-1 0.447-1 1v33c0 0.553 0.448 1 1 1z"/><path d="m39.5 51c0.552 0 1-0.447 1-1v-33c0-0.553-0.448-1-1-1s-1 0.447-1 1v33c0 0.553 0.448 1 1 1z"/><path d="M52.5,6H38.456c-0.11-1.25-0.495-3.358-1.813-4.711C35.809,0.434,34.751,0,33.499,0H23.5c-1.252,0-2.31,0.434-3.144,1.289 C19.038,2.642,18.653,4.75,18.543,6H6.5c-0.552,0-1,0.447-1,1s0.448,1,1,1h2.041l1.915,46.021C10.493,55.743,11.565,59,15.364,59 h28.272c3.799,0,4.871-3.257,4.907-4.958L50.459,8H52.5c0.552,0,1-0.447,1-1S53.052,6,52.5,6z M21.792,2.681 C22.24,2.223,22.799,2,23.5,2h9.999c0.701,0,1.26,0.223,1.708,0.681c0.805,0.823,1.128,2.271,1.24,3.319H20.553 C20.665,4.952,20.988,3.504,21.792,2.681z M46.544,53.979C46.538,54.288,46.4,57,43.636,57H15.364 c-2.734,0-2.898-2.717-2.909-3.042L10.542,8h37.915L46.544,53.979z"/></g></svg>');
}

.commento-options .commento-option-reply {
    -webkit-mask-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg version="1.1" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns"><g transform="matrix(1.7358 0 0 1.7335 4.2642 15.217)"><path d="m10 2.5 1e-6 -4.4421-9 7.4421 9 6.5759-1e-6 -4.6759c6.4194-1.4839 11.739 2.1762 11.739 2.1762s-2.0774-6.5475-11.739-7.0762z" fill="%23abbac4"/></g></svg>');
    width: 20px;
    height: 20px;
    margin: 9px 3px;
    color: #adb5bd;
    mask-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg version="1.1" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns"><g transform="matrix(1.7358 0 0 1.7335 4.2642 15.217)"><path d="m10 2.5 1e-6 -4.4421-9 7.4421 9 6.5759-1e-6 -4.6759c6.4194-1.4839 11.739 2.1762 11.739 2.1762s-2.0774-6.5475-11.739-7.0762z" fill="%23abbac4"/></g></svg>');
}
