.error-template {
    .viewport {
        position: relative;
        height: 500px;
        max-height: 100%;

        .content-title {
            color: #2c3c55;
            font-size: 8em;
        }

        .error {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: max-content;
            height: 100px;
            margin: auto;
            text-align: center;
        }
    }
}
