.error-template {
    .viewport {
        height: 500px;
        max-height: 100%;
        position: relative;

        .content-title {
            font-size: 8em;
            color: #2c3c55;
        }

        .error {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            width: max-content;
            text-align: center;
            height: 100px;
        }
    }
}
