.about-video-wrapper {
    margin-bottom: 40px;
    position: relative;
    padding-top: 56.25%;

    .about-video {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.author-card-list {
    padding: 20px 0;

    .author-list-title {
        font-size: 2em;
        margin-bottom: 40px;
        padding-bottom: 10px;
        border-bottom: 1px solid #f0f0f0;
        font-weight: 500;
    }

    .author-card {
        box-shadow: unset;
        margin: 0 0 50px;
        padding: 0;

        .author-card-name {
            font-size: 1.3em;
        }

        .author-card .author-card-image {
            width: 70px;
            height: 70px;
            min-width: 70px;
        }

        .author-card-meta {
            margin: 10px 0;
        }

        .bio {
            font-size: 0.9em;
            margin: 0;
            line-height: 1.35em;
        }

        a {
            color: #7f878c;
        }

        p {
            font-size: 1em;
        }
    }
}
