@import "../variables.less";
@import "../mixins.less";

.author-template {

  .author-card {
    margin: 0 auto 20px !important;

    .author-card-head {
      padding: 30px;
      @media (max-width: @tablet-breakpoint) {
        padding: 30px 0;
      }
      @media (max-width: @mobile-breakpoint) {
        padding: 0 !important;
      }
    }
  }

  .post-card-title {
    @media (max-width: 800px) {
      margin-bottom: 15px;
    }
  }
}
