@import '../variables.less';
@import '../mixins.less';

.seriesarchive-template {
  .courses {
    @media (max-width: @tablet-breakpoint) {
      padding: 0 10px;
    }
    @media (max-width: @mobile-breakpoint) {
      padding: 0 20px;
    }
  }

  .course-section-title {
    font-size: 1.8em;
    padding-bottom: 12px;
    margin: 50px 0 0;
    font-weight: 200;
    @media (max-width: @mobile-breakpoint) {
      font-size: 1.5em;
      line-height: 1.2;
      padding-bottom: 6px;
    }
  }

  .series-grid {
    grid-gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 0 0;
    @media (max-width: @tablet-breakpoint) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: @mobile-breakpoint) {
      grid-template-columns: 1fr;
    }

    .series-card {
      display: block;
      overflow: hidden;
      border-radius: 5px;
      background: white;
      box-shadow: 0 0 3px rgba(39,44,49,.1);
      transition: @transition;

      * {
        transition: @transition;
      }

      &:hover {
        border-color: #bee8ff;
        background: #e7f7ff;
        cursor: pointer;

        .series-card-image {
          opacity: 0.7;
        }

        .series-card-count,
        .series-card-description,
        .series-card-title {
          color: #4381a1 !important;
        }
      }

      .series-card-image {
        height: 170px;
        background-position-y: center;
        background-size: cover;
      }
    }

    .series-card-info {
      padding: 20px;
    }

    .series-card-title {
      margin-top: 0;
      margin-bottom: 7px;
      color: lighten(@header-font-color, 10%);
      font-family: @header-font-secondary;
      font-size: 1.25em;
      line-height: 1.2;
      transition: @transition;
      font-weight: unset;
      @media (max-width: @mobile-breakpoint) {
        letter-spacing: .7px;
      }
    }

    .series-card-description {
      -webkit-line-clamp: 3;
      .line-clamp();
      margin: 10px 0 !important;
      color: #464a54;
      font-family: @body-font;
      line-height: 1.35 !important;
      text-align: left;
      font-size: .9em;
      transition: @transition;
    }

    .series-card-count {
      color: lighten(@text-color-light, 20%);
      font-family: @header-font;
      font-size: 0.8em;
      line-height: 1;
      text-align: right;
    }
  }
}
