@import '../variables.less';
@import '../mixins.less';

.seriesarchive-template {
  #navigation {
    @media (max-width: @tablet-breakpoint) {
      margin-bottom: 0;
      border-bottom: unset;
    }

    .nav-wrapper {
      width: @smallscreen-breakpoint;
    }
  }

  .container {
    width: @smallscreen-breakpoint;
  }

  .courses {
    @media (max-width: @tablet-breakpoint) {
      padding: 0 10px;
    }
    @media (max-width: @mobile-breakpoint) {
      width: -webkit-fill-available;
      margin: 0 8%;
      padding: 0;
    }
  }

  .course-section-title {
    margin: 50px 0 0;
    font-size: 2em;
    font-weight: 200;
    @media (max-width: @mobile-breakpoint) {
      font-size: 1.7em;
      line-height: 1.2;
    }
  }

  .series-grid {
    grid-gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 0 0;
    @media (max-width: @tablet-breakpoint) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: @mobile-breakpoint) {
      grid-gap: 20px;
      grid-template-columns: 1fr;
      margin: 10px 0 0;
    }

    .series-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      border-radius: 6px;
      background: white;
      box-shadow: 0 0 3px rgba(39, 44, 49, .15);
      transition: @transition;

      * {
        transition: @transition;
      }

      &:hover {
        border-color: #bee8ff;
        background: lighten(@theme-color, 15%);
        cursor: pointer;

        * {
          color: white !important;
        }

        .series-card-image {
          opacity: 0.7;
        }

        .series-card-count,
        .series-card-description,
        .series-card-title {
          color: #4381a1;
        }
      }

      .series-card-image-wrapper{
        display: flex;
        align-content: center;
        height: 155px;
        .series-card-image {
          max-width: 70%;
          height: auto;
          max-height: 70%;
          margin: auto;
        }
      }
    }

    .series-card-info {
      padding: 0 25px;
    }

    .series-card-title {
      margin-top: 0;
      margin-bottom: 5px;
      color: #3d4b6a;
      font-family: @body-font-bold;
      font-size: 1.3em;
      font-weight: unset;
      line-height: 1.2;
      transition: @transition;
      @media (max-width: @mobile-breakpoint) {
        letter-spacing: .7px;
      }
    }

    .series-card-description {
      -webkit-line-clamp: 4;
      .line-clamp();
      margin: 10px 0 !important;
      color: #464a54;
      font-family: @body-font;
      font-size: .9em;
      line-height: 1.35 !important;
      text-align: left;
      transition: @transition;
    }

    .series-topics {
      display: flex;
      flex-wrap: wrap;
      margin: 15px 0 10px;

      .topic {
        margin-right: 10px;
        margin-bottom: 5px;
        color: lighten(@body-color, 20%);
        font-family: @body-font-bold;
        font-size: .85em;
        line-height: 1;
        white-space: nowrap;
      }
    }

    .series-card-count {
      display: flex;
      margin-top: 15px;
      padding: 0 25px 25px;
      color: lighten(@text-color-light, 20%);
      font-family: @header-font;
      line-height: 1;
      text-align: right;

      svg {
        margin-right: 8px;
      }

      span {
        display: block;
      }
    }
  }

  .site-footer {
    @media (max-width: @mobile-breakpoint) {
      width: -webkit-fill-available;
      margin: 0 30px;
    }

    .footer-wrapper {
      width: @smallscreen-breakpoint;
      max-width: 90%;
      @media(max-width: @mobile-breakpoint) {
        max-width: 100%;
        margin: 60px auto 30px;
      }
    }
  }
}
