@import '../variables.less';
@import '../mixins.less';

.series-template {

  #navigation {
    @media (max-width: @tablet-breakpoint) {
      margin-bottom: 0;
      border-bottom: unset;
    }
  }

  .viewport {
    @media (max-width: @tablet-breakpoint) {
      padding: 0;
    }
  }

  .container {
    width: 900px !important;
    max-width: unset !important;
    margin: auto;
    background: white !important;
    box-shadow: @box-shadow;
    @media (max-width: @tablet-breakpoint) {
      max-width: 100% !important;
    }

    main {
      width: -webkit
    }
  }

  p {
    margin-bottom: 30px;
    font-size: 1.2em;
    line-height: 1.4;
  }

  h3 {
    margin: 25px 0 5px;
    color: @body-color;
    line-height: 1;
  }

  ul {
    margin: 0 0 0 20px;
    font-size: .95em;
    line-height: 1.6;
  }

  .series-header {
    margin: 60px 60px 20px;
    color: @header-font-color;
    @media (max-width: @tablet-breakpoint) {
      margin: 40px;
    }
    @media (max-width: @mobile-breakpoint) {
      margin: 50px 30px 30px;
      padding-bottom: 0;
    }

    .series-title {
      margin: 0 0 20px;
      font-family: @header-font-secondary;
      font-size: 2.2em;
      font-weight: unset;
      @media (max-width: @tablet-breakpoint) {
        font-size: 2em;
      }
      @media (max-width: @mobile-breakpoint) {
        font-size: 1.8em;
        line-height: 1;
      }
    }

    .series-description {
      margin: 15px 0 0;
      font-size: 1.2em;
      line-height: 1.5;
      @media (max-width: @mobile-breakpoint) {
        font-size: 1em;
      }
    }
  }

  .site-footer {
    @media(max-width: @mobile-breakpoint) {
      width: 80% !important;
      margin: 0 auto;
    }
  }

  .footer-wrapper {
    margin: 30px auto;
    padding: 0;
    border-top: unset;
    @media (max-width: @tablet-breakpoint) {
      margin: 50px auto 30px;
    }
  }

  .footer-widgets {
    padding: 30px 0 0;
  }
}

.series-container {
  margin: 0 auto;
  @media (max-width: @tablet-breakpoint) {
    margin: 0;
  }

  .series-feature-image {
    width: stretch;
    width: -moz-available;
    overflow: hidden;
    @media (max-width: @tablet-breakpoint) {
      height: 380px;
    }
    @media (max-width: @mobile-breakpoint) {
      height: unset;
    }

    img {
      width: 100%;
      @media (max-width: @tablet-breakpoint) {
        margin-top: -30px;
      }
      @media (max-width: @tablet-breakpoint) {
        margin-top: 0;
      }
    }
  }

  .post-feed {
    grid-gap: 0;
    padding: 0 60px 60px;
    @media (max-width: @tablet-breakpoint) {
      width: auto;
      margin: 0 40px;
      padding: 0 0 30px;
    }
    @media (max-width: @mobile-breakpoint) {
      margin: 0 30px;
      padding: 0 0 20px;
    }
  }

  .series-post-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
    transition: @transition;
    @media (max-width: @mobile-breakpoint) {
      flex-direction: column;

      &:hover {
        border-bottom: 1px solid @hover-color !important;
        background: @hover-color !important;
        color: white !important;
      }
    }

    &:last-of-type {
      border: 0;
    }

    &:hover {
      border-bottom: 1px solid @hover-color;
      background: @hover-color;
      cursor: pointer;

      * {
        color: white !important;
      }
    }

    .series-post-card-image {
      width: 130px;
      min-width: 175px;
      height: 120px;
      overflow: hidden;
      @media (max-width: @mobile-breakpoint) {
        display: none;
      }

      img {
        width: auto;
        height: 100%;
        margin-left: -10px;
      }
    }

    .series-post-card-detail {
      width: stretch;
      width: -moz-available;
      padding: 20px 5px;
      @media (max-width: @mobile-breakpoint) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        padding: 22px 5px;
      }

      &:last-of-type {
        border-bottom: 0;
      }

      .series-post-card-title {
        -webkit-line-clamp: 1;
        .line-clamp();
        margin: 0 0 10px;
        font-family: @header-font-secondary;
        font-size: 1.3em;
        font-weight: unset;
        line-height: 1.1;
        @media (max-width: @mobile-breakpoint) {
          display: block;
          width: 100%;
          margin: -2px 0 0;
          font-family: @body-font-medium;
          font-size: 1.15em;
          font-weight: normal;
          line-height: 1.3;
        }

        a {
          color: #595d67;
          font-weight: unset;
          transition: @transition;
          @media (max-width: @mobile-breakpoint) {
            display: flex;
            align-items: center;
          }

          &:hover {
            color: @hover-color;
          }
        }

        .series-post-number {
          font-size: 0.9em;
          @media (max-width: @mobile-breakpoint) {
            display: none;
          }
        }
      }

      .series-post-title-text {
        font-size: 0.9em;
        line-height: 1.1;
        @media (max-width: @mobile-breakpoint) {
          line-height: 1.3;
        }
      }

      .excerpt {
        -webkit-line-clamp: 2;
        margin-bottom: 15px;
        font-size: .9em;
        line-height: 1.5;
        transition: @transition;
        .line-clamp();
        @media (max-width: @mobile-breakpoint) {
          display: none;
        }
      }

      .reading-time {
        display: flex;
        align-items: center;
        color: @light-header-color;
        font-family: @body-font-bold;
        font-size: .9em;
        line-height: 1;
        opacity: .8;
        @media (max-width: @mobile-breakpoint) {
          margin-top: 15px;
          font-size: .85em;
        }

        svg {
          margin-right: 8px;
          font-size: .8em;
        }

        span {
          line-height: 1;
        }
      }
    }
  }
}
