@import '../variables.less';
@import '../mixins.less';

/* Tag Archives
/* ---------------------------------------------------------- */
.tag-template {
    .tag-header {
        .header-card();
        padding: 40px !important;
    }

    .tag-title {
        margin: 0 0 1.5rem;
        font-size: 1.5em;
        color: @header-color;
        font-family: @header-font-light;
        font-weight: normal;

        svg {
            font-size: 0.7em;
            margin-right: 5px;
            opacity: .7;
        }
    }

    .meta-item.tag {
      @media(max-width: @mobile-breakpoint) {
        display: none;
      }
    }

    .tag-description {
        font-size: 1em;
        line-height: 1.4em;
        color: @body-color;
        margin: 0;
        font-weight: 600;
          }
}
