.post-author {
    display: flex;
    margin: 60px 0 100px;
    padding-top: 60px;
    border-top: 1px solid #e2e2e2;
    justify-content: space-between;
}

.post-author .post-author-content {
    margin-right: 20px;
}

.post-author-name {
    margin: 0 0 .5em 0;
    font-size: 1.7em;
    font-family: var(--font-title);
    color: var(--color-content-title);
}

.post-author-bio {
    margin: 0 0 1em 0;
    line-height: 1.4em;
}

.post-author-image {
    width: 116px;
    height: 116px;
    min-width: 116px;
    border-radius: 50%;
    overflow: hidden;
    @media(max-width: 600px) {
            width: 100px;
            height: 100px;
            min-width: 100px;
    }

    img {
      width: 100%;
    }
}



.post-author-item {
    color: var(--color-secondary);
    opacity: .7;
    margin-right: 20px;
    font-size: .9em;
}

.post-author-item svg {
    margin-right: 5px;
    font-size: .9em;
}
