.post-author {
  display: flex;
  margin: 20px 0 50px;
  background: white;
  padding: 30px;
  justify-content: space-between;
  align-items: top;
  box-shadow: @box-shadow;

  a {
    color: #7c8a90;
  }
}

.post-author .post-author-content {
    margin-left: 20px;
    width: -webkit-fill-available;
}

.post-author-name {
    margin: 0 0 .5em 0;
    font-size: 1.5em;
    font-family: @sub-header-font;
    font-weight: 500 !important;
    color: #7c8a90;
}

.post-author-bio {
    margin: 0 0 1em 0;
    line-height: 1.4em;
}

.post-author-image {
    width: 80px;
    height: 80px;
    min-width: 80px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
    }

    svg {
      width: 100%;
      height: 100%;
      color: #a2aebf;
    }
}


.post-author-meta {
  margin: 10px 0;
}


.post-author-item {
    color: @secondary-font-color;
    opacity: .7;
    margin-right: 20px;
    font-size: .9em;
    @media(max-width: @mobile-breakpoint) {
      font-size: 1em;
      display: block;
      margin-bottom: 5px;
    }
}

.post-author-item svg {
    margin-right: 5px;
    font-size: .9em;
}
