.post-author {
  display: flex;
  margin: 20px 0 50px;
  background: white;
  border-radius: 5px;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
}

.post-author .post-author-content {
    margin-right: 20px;
}

.post-author-name {
    margin: 0 0 .5em 0;
    font-size: 1.7em;
    font-family: @sub-header-font;
    color: var(--color-content-title);
}

.post-author-bio {
    margin: 0 0 1em 0;
    line-height: 1.4em;
}

.post-author-image {
    width: 90px;
    height: 90px;
    min-width: 100px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
    }

    svg {
      width: 100%;
      height: 100%;
      color: #a2aebf;
    }
}



.post-author-item {
    color: var(--color-secondary);
    opacity: .7;
    margin-right: 20px;
    font-size: .9em;
}

.post-author-item svg {
    margin-right: 5px;
    font-size: .9em;
}
