.site-footer {
    background: white;
    box-shadow: 0 1px 8px rgba(39, 44, 49, 0.1);
    z-index: 2;
    position: relative;

    .footer-wrapper {
        display: flex;
        justify-content: space-between;
        background: white;
        padding: 50px 0;
        width: 1000px;
        max-width: 90%;
        margin: auto;
        @media(max-width: @mobile-breakpoint) {
            display: block;
            padding: 50px;
            max-width: unset;
            width: unset;
        }

        .widget {
            width: 16%;
            overflow: hidden;
            @media(max-width: @mobile-breakpoint) {
                max-width: unset;
                margin-bottom: 50px;
                width: 100%;
            }

            &:last-of-type {
                margin: 0;
            }

            .footer-widget-title {
                font-family: @header-bold;
                font-size: 1em;
                font-weight: normal;
                margin-bottom: 20px;
                color: #2b3337;
                border-bottom: 1px solid rgb(219, 227, 231);
                padding-bottom: 5px;
            }

            .footer-link {
                font-size: 0.9em;
                margin: 0 0 12px;
                display: block;
                padding-left: 0;
                line-height: 1em;
                color: #576979;
                font-family: @body-font;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            &.about {
                width: 25%;
                @media(max-width: @mobile-breakpoint) {
                    width: 100% !important;
                }

                .logo {
                    width: 100%;
                    display: block;
                    margin-bottom: 10px;
                    transition: all 0.2s ease-out;
                    @media(max-width: @mobile-breakpoint) {
                        margin-bottom: 0;
                    }
                    /*@media(max-width: 400px) {
                        width: 100%;
                        margin-bottom: 30px;
                        max-width: unset;
                    }*/
                    &:hover {
                        opacity: 0.7;
                    }
                }

                .description {
                    line-height: 1.5;
                    @media(max-width: @mobile-breakpoint) {
                        line-height: 1.4;
                        font-size: 0.95em;
                        text-align: justify;
                    }
                }

                .social-btns {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 20px 0;
                    @media(max-width: @mobile-breakpoint) {
                        display: none;
                    }

                    svg {
                        font-size: 1.6em;
                        color: #8f9fa8;
                    }
                }

                .copyright {
                    color: @secondary-font-color;
                    font-size: 0.9em;
                    text-align: justify;
                    @media(max-width: @mobile-breakpoint) {
                        font-size: 0.8em;
                    }
                }
            }

        }
    }

    .copyright {
        background-color: #333c47;
        border-top: 1px solid #dbe3e7;
        padding: 30px;

        p {
          color: white;
          margin: 0;
          font-size: .8em;
          opacity: .8;
          text-align: center;
        }
    }
}
