.site-footer {
    background: white;
    border-top: 1px solid #dbe0e5;

    .footer-wrapper {
        display: flex;
        justify-content: space-around;
        background: white;
        padding: 50px 0;
        max-width: 900px;
        margin: auto;
        @media(max-width: @mobile-breakpoint) {
            display: block;
            padding: 50px;
            max-width: unset;
        }

        .widget {
            max-width: 29%;
            @media(max-width: @mobile-breakpoint) {
                max-width: unset;
                margin-bottom: 50px;
            }

            &:last-of-type {
              margin: 0;
            }

            .footer-widget-title {
                font-family: @header-semi-bold;
                font-size: 1.5em;
                font-weight: normal;
                margin-bottom: 15px;
                color: #56656c;
            }

            .footer-link {
                margin: 0 0 10px;
                display: block;
                padding-left: 0;
                line-height: 1em;
                color: #576979;
                font-family: @body-font;
            }

            &.about {
                @media(max-width: @mobile-breakpoint) {
                    border-bottom: 1px solid rgba(76, 108, 157, 0.2);
                    padding-bottom: 20px !important;
                }

                .logo {
                    width: 90%;
                    display: block;
                    margin-bottom: 10px;
                    transition: all 0.2s ease-out;
                    @media(max-width: @mobile-breakpoint) {
                        margin-bottom: 20px;
                        max-width: 200px;
                    }

                    &:hover {
                        opacity: 0.7;
                    }
                }

                .description {
                    line-height: 1.5;
                    @media(max-width: @mobile-breakpoint) {
                      line-height: 1.4;
                      font-size: .95em;
                      text-align: justify;
                    }
                }

                .social-btns {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 20px 0;

                    svg {
                        font-size: 1.5em;
                        color: @secondary-font-color;
                    }
                }

                .copyright {
                    color: #809ca2;
                    font-size: 0.9em;
                    text-align: justify;
                    @media(max-width: @mobile-breakpoint) {
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
}
