.site-footer {
    background: white;

    .footer-wrapper {
        display: flex;
        justify-content: space-around;
        background: white;
        padding: 50px 0;
        max-width: 900px;
        margin: auto;
        @media(max-width: @mobile-breakpoint) {
          display: block;
          padding: 60px;
          max-width: unset;
        }

        .widget {
            max-width: 29%;
            @media(max-width: @mobile-breakpoint) {
              max-width: unset;
              margin-bottom: 20px;
            }

            .footer-widget-title {
                font-family: @sub-header-font;
                font-size: 1.3em;
                margin-bottom: 20px;
            }

            ul {
                list-style: none;
                padding: 0;

                li {
                    margin: 0;
                    padding-left: 0;
                    line-height: 1em;
                    margin-bottom: 10px;
                    font-size: .9em;

                    a {
                      color: #576979;
                      font-family: 'proxima-nova', sans-serif;
                    }
                }
            }

            &.about {
              @media(max-width: @mobile-breakpoint) {
                border-bottom: 1px solid rgba(76, 108, 157, 0.2);
                padding-bottom: 20px !important;
                margin: 0 0 20px;
              }
                .logo {
                    width: 90%;
                    display: block;
                    margin-bottom: 10px;
                    transition: all 0.2s ease-out;
                    @media(max-width: @mobile-breakpoint) {
                      margin-bottom: 25px;
                      max-width: 200px;
                    }

                    &:hover {
                        opacity: 0.7;
                    }
                }

                .description {
                    line-height: 1.5;
                }

                .social-btns {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 30px 0;

                    svg {
                        font-size: 1.5em;
                        color: @secondary-font-color;
                    }
                }

                .copyright {
                    color: #809ca2;
                    font-size: 0.9em;
                    text-align: justify;
                }
            }
        }
    }
}
