/* Layout
/* ---------------------------------------------------------- */
.viewport {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0 auto;
}

.home-container,
.tag-container {
    max-width: 1020px;
    margin: 0 auto;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 2fr 1fr;
    max-width: 90%;
    @media(max-width: @tablet-breakpoint) {
      display: block;
    }
}
