/* Layout
/* ---------------------------------------------------------- */
.sidebar-container {
    grid-gap: 20px;
    display: grid;
    grid-template-columns: 2.4fr 1fr;
    width: 1020px;
    max-width: 95%;
    margin: 0 auto;
    @media(max-width: @tablet-breakpoint) {
        grid-template-columns: 1fr;
        max-width: unset;
        max-width: 100%;
    }
}

.viewport {
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
    @media(max-width: @mobile-breakpoint) {
      padding-bottom: 30px;
    }
}

.post-feed {
    grid-gap: 20px;
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 1fr;
    margin: 0 auto;
    @media(max-width: @tablet-breakpoint) {
        grid-gap: 20px;
        width: 90%;
    }
}
