.mobile-full-width() {
	margin-left: calc(~"-50vw + 50%") !important;
	margin-right: calc(~"-50vw + 50%") !important;
	border-right: 0;
	border-left: 0;
	min-width: 100%;
}

.mobile-horizontal-scroll() {
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;

	&:hover {
		cursor: grab;
	}
}

.mobile-horizontal-scroll-child() {
	display: inline;
}

.header-card() {
	margin: 0 !important;
	background: white;
	padding: 30px !important;
	box-shadow: @box-shadow;
	@media (max-width: @mobile-breakpoint) {
		.mobile-full-width();
		min-width: unset !important;
		padding: 30px 20px;

		h1 {
			margin: 0 auto 15px;
		}

		p {
			font-size: 1em !important;
			margin: auto;
		}
	}

	.author-card-image {
			width: 100px;
			height: 100px;
			min-width: 100px;
		}
}

.body-font() {
	text-align: left;
	color: @body-color;
	font-family: @body-font;
	-webkit-font-smoothing: auto;
	font-size: 1.1em;
	margin: 0 0 15px;
	line-height: 1.5em;
	@media(max-width: @mobile-breakpoint) {
		font-size: 1em;
	}
}
