.body-font() {
  -webkit-font-smoothing: auto;
  margin: 0 0 20px;
  color: @body-color;
  font-family: @body-font;
  font-size: 1em;
  line-height: 1.8em;
}

.lists() {
  margin: 0 10px 30px;
  padding-left: 1em;
  @media (max-width: 600px) {
    margin: 10px 10px 25px;
    padding-left: 10px;
  }

  ul {
    padding-left: 1.1em;
  }

  li {
    -webkit-font-smoothing: auto;
    color: @body-color;
    font-family: @body-font;
    text-align: left;
    .body-font();
    display: list-item;
    margin: 0 0 10px !important;
    padding-left: 0;
    line-height: 1.6 !important;
    counter-increment: item;
    .body-font();

    &::marker {
      font-weight: 600;
    }

    & > ul,
    & > ol{
      margin: 10px 0 20px;

      li {
        margin: 0 0 5px 10px !important;
        font-size: .9em;

        strong {
          font-family: @body-font-medium;
        }

        &:before {
          font-weight: 600;
        }

        &:last-of-type {
          padding-bottom: 0;
        }
      }
    }
  }
}

.link() {
  border-bottom: 1px solid @theme-color;
  color: @body-color;
  word-break: break-word;
  transition: @transition;

  &:hover {
    color: @theme-color !important;
  }
}

.input-text-fields() {
  padding: 10px;
  border: 1px solid #d6dde9;
  border-radius: 3px !important;
  background: #f7f8fa;
  font-family: @body-font;
  .input-field-interactions();
}

.select-dropdown() {
  -webkit-appearance: none;
  -webkit-transition: all 0.2s ease-out;
  width: 100%;
  max-width: stretch;
  margin: 0;
  padding: 12px;
  border: 1px solid #dfdede;
  border-radius: 0;
  outline: none;
  background: #fff;
  color: #616779;
  font-size: 0.9em;
  line-height: normal;
  transition: all 0.2s ease-out;
  @media (max-width: @mobile-breakpoint) {
    padding: 12px;
  }
}

.info-card() {
  width: stretch;
  width: -moz-available;
  padding: 40px !important;
  background: white;
  box-shadow: @box-shadow;
  @media (max-width: @tablet-breakpoint) {
    .mobile-full-width();
    min-width: unset !important;
    margin-bottom: 20px;
    padding: 30px 20px;
  }
  @media (max-width: @mobile-breakpoint) {
    margin-bottom: 0;
    padding: 20px 6% 40px !important;
  }

  .page-title-card {
    display: flex;
    align-items: center;
    margin: 0 0 12px !important;
    font-size: 1.2em;
    line-height: 1;
    @media (max-width: @tablet-breakpoint) {
      font-size: 1.3em;
    }
    @media (max-width: @mobile-breakpoint) {
      font-size: 1.1em;
    }

    h1 {
      margin: 0 !important;
      font-family: @header-font-secondary !important;
      font-weight: unset !important;
    }
  }

  svg {
    display: inline;
    margin-right: 10px;
    font-size: 1.1em;
    opacity: 0.9s;
    @media (max-width: @mobile-breakpoint) {
      font-size: 1.1em;
    }
  }

  span {
    display: inline;
    margin-left: 5px;
    font-size: 0.6em !important;
    line-height: 1;
    opacity: 0.8;
    @media (max-width: @mobile-breakpoint) {
      font-size: 0.5em !important;
    }
  }

  p {
    line-height: 1.6;
  }

  .author-card-image {
    width: 100px;
    min-width: 100px;
    height: 100px;
  }
}

.body-h3() {
  margin: 40px 0 5px;
  color: @body-color;
  font-family: @body-font-bold;
  font-size: 1.2em;
}

.input-field-interactions() {
  -webkit-appearance: none;
  transition: @transition;

  &::placeholder {
    color: #a2a7ba;
    opacity: 1;
  }

  &:hover {
    border-color: @theme-color;
    background: lighten(@theme-color, 45%) !important;
    cursor: text;

    &::placeholder {
      color: lighten(@theme-color, 20%) !important;
    }
  }

  &:focus {
    border-color: @theme-color;
    background: white;
  }
}

.button-styles() {
  -webkit-appearance: none;
  border: 1px solid @button-color;
  outline: none;
  background: @button-color;
  color: white;
  font-family: @body-font-medium;
  transition: @transition;

  &:hover {
    border-color: @button-color !important;
    background: white;
    color: @button-color !important;
    cursor: pointer !important;
  }
}

.figcaption() {
  width: stretch;
  width: -moz-available;
  margin: 0 auto;
  padding: 8px 0 0;
  color: #737883;
  font-family: @body-font-medium;
  font-size: 0.8em;
  line-height: 1.4;
  text-align: center;
  white-space: normal;
  @media (max-width: @mobile-breakpoint) {
    display: block;
    width: 87% !important;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  a {
    .link();
    color: #737883;
  }
}

.mobile-horizontal-scroll-child() {
  display: inline;
}

.line-clamp() {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  width: stretch;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.mobile-full-width() {
  min-width: 100%;
  margin-right: calc(~"-50vw + 50%") !important;
  margin-left: calc(~"-50vw + 50%") !important;
  border-right: 0;
  border-left: 0;
}

.mobile-horizontal-scroll() {
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  &:hover {
    cursor: grab;
  }

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
  }
}

.social-button() {
  -webkit-appearance: none;
  padding: unset;
  border: unset;
  outline: none;
  background: unset;
  color: #a1adc6;
  font-size: 1.8em;
  transition: @transition;
  @media (max-width: @smallscreen-breakpoint) {
    font-size: 1.7em;
  }

  &:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer !important;

    &.medium svg,
    &.medium {
      color: lighten(@medium-color, 10%) !important;
    }

    &.facebook svg {
      color: lighten(@facebook-color, 20%) !important;
    }

    &.twitter svg {
      color: lighten(@twitter-color, 10%);
    }

    &.angellist,
    &.github svg {
      color: lighten(@github-color, 10%) !important;
    }

    &.rss svg {
      color: lighten(@rss-color, 20%) !important;
    }

    &.feedly svg {
      color: #60d293 !important;
    }

    &.pocket svg {
      color: lighten(#f14861, 10%) !important;
    }

    &.linkedin svg {
      color: lighten(@linkedin-color, 10%) !important;
    }
  }
}

/* Post components */
.inline-code() {
  display: inline;
  padding: 2px 4px;
  overflow-y: visible;
  border-radius: 3px;
  background: rgba(144, 181, 223, 0.15);
  color: #3e6c97;
  font-family: @monospace-font;
  font-size: 0.9em;
  font-weight: 600;
  white-space: nowrap;
}

.protip() {
  position: relative;
  margin: 40px auto;
  padding: 60px 20px 14px;
  overflow: hidden;
  border-radius: 5px;
  background: rgba(255, 222, 196, .42);
  box-shadow: -2px 2px 0 #ede2db;
  color: #615649;
  font-family: @body-font;
  font-size: .95em;
  line-height: 1.4;
  @media (max-width: @mobile-breakpoint) {
    padding: 60px 20px 14px;
    font-size: .9em;
    line-height: 1.3;
  }

  p,
  strong {
    color: #796c5c;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  a {
    border-bottom: 1px solid #a47954;
    color: #a47954;
    font-weight: 600;
  }

  &::before {
    -webkit-font-smoothing: antialiased;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    max-width: stretch;
    height: auto;
    margin-right: unset;
    margin-bottom: 24px;
    margin-left: unset;
    padding: 14px 15px;
    background: #f5dfce;
    color: #847059;
    font-family: @body-font-bold;
    font-size: 1.1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 1;
    text-rendering: auto;
    content: "ⓘ Protip";
    @media (max-width: @mobile-breakpoint) {
      padding: 14px 20px 12px;
    }
  }

  ol,
  ul {
    margin: 20px 20px 0;
    padding-left: 15px;
    @media (max-width: @mobile-breakpoint) {
      margin: 10px 10px 0;
      padding-left: 10px;
    }

    li {
      margin: 0 0 10px;
      color: #796c5c;
      font-size: .95em;
    }
  }

  code {
    padding: 2px 4px;
    border: 0;
    border-radius: 4px;
    background: #f9e3d1;
    color: #6c5e53;
    font-family: @monospace-font;
    font-size: .85em;
    line-height: 1;
    text-shadow: unset;
    white-space: normal;
  }

  pre {
    margin: 15px auto 10px;
    padding: 12px;
    overflow: hidden;
    border: 1px solid #ecd8c6;
    border-radius: 3px;
    background: #f9e7da;
    color: #544336;
    font-size: 0.8em;

    code {
      background: unset;
      font-size: 0.75em;
      white-space: normal;
      @media (max-width: @mobile-breakpoint) {
        border-radius: 0;
      }

      &:before {
        top: 0;
        right: 0;
        left: 0;
        width: stretch;
        width: -moz-available;
        border-radius: 2px 2px 0 0;
        background: rgb(221, 173, 134);
        color: white;
        text-shadow: -1px 1px 1px rgba(46, 31, 0, 0.6) !important;
        mix-blend-mode: unset;
      }
    }
  }
}

.blockquote() {
  max-width: 90%;
  margin: 30px auto;
  padding: 15px;
  overflow: hidden;
  border-left: 0.4em solid #e7ebf1;
  border-radius: 3px;
  background: @card-background-color;
  color: #767f86;
  font-family: @body-font-medium;
  font-size: .95em;
  line-height: 1.6;
  @media (max-width: @mobile-breakpoint) {
    margin: 20px 10px;
  }

  * {
    color: #767e84;
    font-family: @body-font;
    line-height: 1.3;
  }

  code {
    padding: 2px 4px;
    border-radius: 2px;
    background: #e5e8ed;
    color: #5d6a74;
    font-family: @monospace-font;
    font-size: 0.8em;
    font-weight: 600;
  }

  ul {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 10px;
    padding-left: 20px;

    li {
      margin-bottom: 5px !important;
    }
  }

  P:last-of-type {
    margin: 0;
  }
}

.subtext() {
  display: block;
  width: 80%;
  margin: 25px 0 30px auto;
  color: #868eab;
  font-family: @body-font-medium;
  font-size: 0.95em;
  font-style: italic;
  line-height: 1.6;
  text-align: right;
  @media (max-width: @tablet-breakpoint) {
    width: 90%;
  }

  a {
    .link();
    color: #868eab !important;
  }
}

.post-intro-notice(){
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 25px 0 30px auto;
  padding: 15px;
  border-radius: 4px;
  background: #eceef1;
  color: #6e7482;
  font-family: @body-font-medium;
  font-size: .95em;
  font-style: italic;
  line-height: 1.6;

  img {
    margin-right: 15px;
  }

  p {
    margin: 0;

    a {
      border-bottom: 1px solid #638cca;
      color: #414d5a;
      color: #638cca;
      word-break: break-word;
      transition: all .2s ease-out;
    }
  }
}

.lynx-roundup-blurb() {
  display: flex;
  align-items: center;
  justify-content: left;
  width: auto;
  min-height: 35px;
  margin: 60px 0;
  padding: 15px 30px;
  border-top: 0;
  border-bottom: 0;
  border-left: 5px solid #c8dec8;
  border-radius: 3px;
  background: 0 0;
  background: #e9f3e9;
  box-shadow: -2px 2px 0 #d5e6d7;
  @media (max-width: @smallscreen-breakpoint) {
    margin: 70px 70px 40px;
  }
  @media (max-width: @tablet-breakpoint) {
    margin: 70px 50px 40px;
    padding: 15px 20px;
  }
  @media (max-width: @mobile-breakpoint) {
    margin: 70px 30px 40px;
  }

  svg {
    margin-right: 20px;
    color: #9dc29f;
    font-size: 40px;
    @media (max-width: @tablet-breakpoint) {
      min-width: 30px;
      min-height: 30px;
      margin-right: 15px;
      color: #9dc29f;
      font-size: 3em;
    }
    @media (max-width: @mobile-breakpoint) {
      height: unset;
      min-height: unset;
      font-size: 4em;
    }
  }

  p {
    color: #789a7b;
    font-family: @body-font-bold;
    font-size: .9em;
    line-height: 1.5;
  }
}

.lightbox() {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .85);
  opacity: 0;
  transition: @transition;

  &:hover {
    cursor: pointer;
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    @media (max-width: @mobile-breakpoint) {
      max-width: 100%;
      max-height: unset;
    }
  }
}
