.mobile-full-width() {
	margin-left: calc(~"-50vw + 50%") !important;
	margin-right: calc(~"-50vw + 50%") !important;
	border-right: 0;
	border-left: 0;
}

.header-card() {
		margin: 0;
		background: white;
		padding: 30px;
		@media (max-width: @mobile-breakpoint) {
				.mobile-full-width();
		}
	}
