.navigation {
    position: relative;
    background: #ffffff;
    height: 80px;
    box-shadow: @box-shadow;
    margin-bottom: 30px;
    @media(max-width: @tablet-breakpoint) {
        margin-bottom: 0;
    }
    @media(max-width: @mobile-breakpoint) {
        height: 70px;
    }

    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1020px;
        margin: auto;
        height: 100%;
        @media(max-width: 1100px) {
            max-width: 95%;
        }
        @media(max-width: @tablet-breakpoint) {
            justify-content: space-between;
            align-items: center;
            max-width: 90%;
        }
        @media(max-width: @mobile-breakpoint) {
            max-width: 88%;
        }

        .nav-left {
            display: flex;
            align-items: center;
            @media(max-width: @tablet-breakpoint) {
                width: 100%;
                justify-content: space-between;
            }

            .logo {
                transition: all 0.2s ease-out;
                margin-right: 35px;
                height: 40px;
                width: 40px;
                @media(max-width: 920px) {
                    margin-right: 30px;
                }
                @media(max-width: @tablet-breakpoint) {
                    display: none;
                }

                &:hover {
                    opacity: 0.7;
                    cursor: pointer;
                }

                img {
                    width: 100%;
                }
            }

            .mobile-logo {
                display: none;
                transition: @transition;
                @media(max-width: @tablet-breakpoint) {
                    display: block;
                    height: 40px;
                    width: unset;
                    min-width: 35px;
                }
                @media(max-width: @mobile-breakpoint) {
                  height: 35px;
                }

                &:hover {
                    opacity: 0.7;
                    cursor: pointer;
                }

                img {
                    height: 100%;
                }
            }

            .nav-links {
                display: flex;
                justify-content: left;
                align-items: center;
                @media(max-width: @mobile-breakpoint) {
                    justify-content: right;
                    display: none;
                }

                .navigation-link {
                    color: #4a4f59;
                    border: none;
                    padding: 0;
                    margin-right: 35px;
                    font-size: 1.05em;
                    outline: none;
                    transition: @transition;
                    display: flex;
                    justify-content: center;
                    font-weight: normal;
                    font-weight: 500;
                    font-family: @body-font-bold;
                    @media(max-width: 920px) {
                        margin-right: 30px;
                    }
                    @media(max-width: @tablet-breakpoint) {
                        margin: 0 0 0 25px;
                    }

                    &.rss {
                        @media(max-width: 900px) {
                            display: none;
                        }
                    }
                }
            }
        }

        .nav-right {
            position: relative;

            svg {
                width: 1.3em;
                font-size: 1em;
                pointer-events: none;
                position: absolute;
                right: 10px;
                top: 0;
                bottom: 0;
                margin: auto;
                color: #b1b1b1;
            }
            @media(max-width: @tablet-breakpoint) {
                display: none;
            }
        }

        & > div:last-of-type {
            display: none;
            @media(max-width: @mobile-breakpoint) {
                display: block;
            }
        }
    }
}
/* Page-specific navigation hacks
/* ---------------------------------------------------------- */
@media(max-width: @tablet-breakpoint) {
    .home-template {
        .navigation {
            margin-bottom: 30px !important;
        }

        .navigation-links {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
    }
}
/* Pagination
/* ---------------------------------------------------------- */
.pagination {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 10px;
    background: none;

    .pagination-location {
        position: absolute;
        left: 50%;
        width: 100px;
        margin-left: -50px;
        text-align: center;
        color: #899297;;
        font-size: 0.9em;
    }

    a {
        display: flex;
        align-items: center;
        color: #80868f;
        font-family: @body-font;
        text-decoration: none;
        line-height: 1em;
        border: 1px solid #c7cdd7;
        padding: 8px 12px;
        border-radius: 3px;
        transition: @transition;

        &:hover {
            background: @hover-color;
            border: 1px solid @hover-color;

            * {
                color: white;
            }
        }

        &.prev {
            svg {
                margin-right: 5px;
            }
        }

        &.next {
            svg {
                margin-left: 5px;
            }
        }

        span {
            line-height: 1;
        }
    }
}
