.navigation {
    position: relative;
    background: #ffffff;
    height: 80px;
    box-shadow: @box-shadow;
    margin-bottom: 30px;
    @media(max-width: @tablet-breakpoint) {
        margin-bottom: 0;
    }
    @media(max-width: @mobile-breakpoint) {
        height: 70px;
    }

    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1020px;
        margin: auto;
        height: 100%;
        @media(max-width: 1100px) {
            max-width: 95%;
        }
        @media(max-width: 800px) {
            justify-content: space-between;
            align-items: center;
            max-width: 90%;
        }

        .nav-left {
            display: flex;
            align-items: center;
            @media(max-width: @tablet-breakpoint) {
                width: 100%;
                justify-content: space-between;
            }

            .logo {
                transition: all 0.2s ease-out;
                margin-right: 40px;
                height: 40px;
                width: 40px;
                @media(max-width: @mobile-breakpoint) {
                    height: 35px;
                    width: 35px;
                    min-width: 35px;
                }

                &:hover {
                    opacity: 0.7;
                    cursor: pointer;
                }

                img {
                    width: 100%;
                }
            }

            .nav-links {
                display: flex;
                justify-content: left;
                align-items: center;
                @media(max-width: @mobile-breakpoint) {
                    justify-content: right;
                }

                .navigation-link {
                    color: #626573;
                    border: none;
                    padding: 0;
                    margin-right: 35px;
                    font-size: 1.1em;
                    outline: none;
                    transition: @transition;
                    display: flex;
                    justify-content: center;
                    font-weight: normal;
                    font-weight: 500;
                    font-family: @header-font;
                    @media(max-width: @tablet-breakpoint) {
                        margin: 0 0 0 25px;
                    }

                    &.donate,
                    &.rss {
                        @media(max-width: @mobile-breakpoint) {
                            display: none;
                        }
                    }
                }
            }
        }

        .nav-right {
          position: right;
            form {
                input {
                    line-height: normal;
                    background: #efefef;
                    width: 250px;
                    border: 0;
                    padding: 12px 17px;
                    font-size: 1em;
                    border-radius: 3px;
                    transition: @transition;
                    margin: 0;

                    &::placeholder {
                        color: #9ca7b0;
                    }

                    &:focus,
                    &:hover {
                        background: #e1edf6;

                        &::placeholder {
                            color: #95aaba;
                        }
                    }
                }

                .ais-SearchBox-reset {
                    display: none;
                }

                &:focus,
                &:hover {
                    svg {
                        color: #95aaba;
                    }
                }

                button {
                    display: none;
                }
            }

            svg {
                width: 1.3em;
                font-size: 1em;
                pointer-events: none;
                position: absolute;
                right: 10px;
                top: 0;
                bottom: 0;
                margin: auto;
                color: #b1b1b1;
            }
            @media(max-width: @tablet-breakpoint) {
                display: none;
            }
        }
    }
}
/* Page-specific navigation hacks
/* ---------------------------------------------------------- */
@media(max-width: 800px) {
    .home-template {
        .navigation {
            margin-bottom: 30px !important;
        }

        .navigation-links {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
    }
}
/* Pagination
/* ---------------------------------------------------------- */
.pagination {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0;
    background: none;

    .pagination-location {
        position: absolute;
        left: 50%;
        width: 100px;
        margin-left: -50px;
        text-align: center;
        color: #333b40;
        font-size: 0.9em;
    }

    a {
        display: inline-block;
        color: #333b40;
        font-family: @body-font;
        text-decoration: none;
        font-size: 1em;
        line-height: 1em;
        transition: @transition;

        &:hover {
            color: @hover-color;
        }
    }
}
