.navigation {
    position: relative;
    background: #ffffff;
    height: 80px;
    border-bottom: 1px solid #dbe0e5;
    margin-bottom: 30px;
    @media(max-width: @tablet-breakpoint) {
        margin-bottom: 0;
    }
    @media(max-width: @mobile-breakpoint) {
        height: 70px;
    }

    .nav-wrapper {
        max-width: 1000px;
        margin: auto;
        height: 100%;
        display: flex;
        align-items: center;
        @media(max-width: 1100px) {
            max-width: 90%;
        }
        @media(max-width: 800px) {
            max-width: 86%;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            transition: all 0.2s ease-out;
            margin-right: 40px;
            height: 40px;
            width: 40px;
            @media(max-width: @mobile-breakpoint) {
                height: 35px;
                width: 35px;
            }

            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }

            img {
                width: 100%;
            }
        }

        .nav-links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            @media(max-width: @mobile-breakpoint) {
                display: block;
                width: auto;
            }
        }

        .right-links {
            @media(max-width: @mobile-breakpoint) {
                display: none !important;
            }
        }

        .left-links,
        .right-links {
            display: flex;
            justify-content: left;
            align-items: center;
            @media(max-width: @mobile-breakpoint) {
                justify-content: inherit;
            }

            .site-nav-item {
                color: #626573;
                border: none;
                padding: 0;
                margin-right: 30px;
                font-size: 1.1em;
                outline: none;
                transition: @transition;
                display: flex;
                justify-content: center;
                font-weight: normal;
                font-weight: 500;
                font-family: @sub-header-font;
                @media(max-width: @mobile-breakpoint) {
                    margin: 0 0 0 20px;
                    font-size: 1em;
                }
            }

            .donate-btn {
                font-family: @sub-header-font;
                font-size: 1em;
                -webkit-appearance: none !important;
                color: #626573;
                border: 1px solid #d3d6e1;
                background: none;
                padding: 9px 14px;
                font-weight: 500;
                line-height: 1;
                outline: none;
                font-weight: normal;
                transition: @transition;

                &:hover {
                    background: @theme-color;
                    border: 1px solid @theme-color;
                    color: white !important;
                }
            }
        }
    }
}

@media(max-width: 800px) {
    .home-template {
        .navigation {
            margin-bottom: 30px !important;
        }

        .navigation-links {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
    }
}
/* Pagination
/* ---------------------------------------------------------- */
.pagination {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background: none;
    @media(max-width: @mobile-breakpoint) {
        margin: 0 0 20px;
    }

    .pagination-location {
        position: absolute;
        left: 50%;
        width: 100px;
        margin-left: -50px;
        text-align: center;
        color: var(--color-secondary);
        font-size: 1.3rem;
    }

    a {
        display: inline-block;
        padding: 10px 15px;
        border: var(--color-border) 1px solid;
        color: var(--color-secondary);
        text-decoration: none;
        font-size: 1.4rem;
        line-height: 1em;
        border-radius: var(--radius);
        transition: @transition;

        &:hover {
            background: @secondary-color;
            border-color: @secondary-color;
            color: white !important;
        }
    }
}
