.page-template {
  .page-content {
    background: white;
    padding: 30px;
    border-radius: 5px;

    h1 {
      margin: 10px 0 30px;
    }
  }

  h1 {
    font-family: @sub-header-font;
    font-size: 2em;
  }

  iframe {
    @media(max-width: @tablet-breakpoint) {
      width: 100%;
    }
  }

  .kg-card {
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
  }

  fieldset {
    border: none;
    display: block;
    background: white;
    padding-left: 0;
    padding-right: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .active {
    display: block;
  }

  p {
    text-align: left;

  }

  label {
    font-family: @body-font;
    font-size: 14px;
    color: #505050;
    font-weight: 600;
  }

  .split-fields {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    @media(max-width: @mobile-breakpoint) {
      display: block;
    }
  }

  .input-field-group {
    text-align: left;
  }

  input,
  textarea {
    font-family: "TTNormsPro-Light", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0 solid;
    margin: 5px 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    transition: @transition;
    border-radius: 3px;

    &:hover {
      background: rgba(64, 206, 199, 0.16);

      &::placeholder {
        color: #72859d;
        opacity: 0.4;
        font-family: @body-font !important;
      }

      &::after {
        color: #8aafb8;
      }
    }
  }

  textarea {
    height: 200px;
  }

  .next:active,
  .next:focus,
  .next:hover {
    background: @hover-color;
  }

  .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }

  .message a {
    color: #4CAF50;
    text-decoration: none;
  }

  button {
    text-transform: uppercase;
    outline: 0;
    background: #5eb9d7 !important;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    margin-top: 20px;
  }

  .home-container {
    margin-bottom: 30px;
  }
}
