.post-card {
    background-color: #fff;
    box-shadow: @box-shadow;
    width: 100%;
    overflow: hidden;
    @media(max-width: @tablet-breakpoint) {
        padding: 0;
    }

    * {
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;

        .post-card-image {
            opacity: 0.7;
        }
    }

    .post-card-title {
        margin: 0 0 10px;
        padding: 0;
        font-size: 2em;
        color: #44495e;
        font-weight: 200;
        letter-spacing: 0;
        font-family: @header-font;
        transition: @transition;
        @media(max-width: @mobile-breakpoint) {
            font-size: 1.8em;
        }

        &:hover {
            color: @secondary-color;
        }
    }

    .post-card-image {
        margin: 0 0 10px;
        width: 100%;
        background: @text-color-light no-repeat center center;
        background-size: cover;
        transition: opacity 0.2s ease-out;
    }

    .post-card-detail {
        padding: 30px;
        @media(max-width: @mobile-breakpoint) {
            padding: 20px;
        }

        .post-card-excerpt {
            margin: 5px auto 0;
            line-height: 1.2;
            font-family: @sub-header-font;
            transition: all 0.2s ease-out;
            color: #475165;
            font-size: 1.3em;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            text-overflow: ellipsis;
            overflow: hidden;
            width: -webkit-fill-available;
            @media(max-width: @mobile-breakpoint) {
                font-size: 1.1em;
            }
        }
    }

    .post-card-footer-left {
        display: flex;
        align-items: center;

        .meta-item {
            margin-right: 30px;
            color: @secondary-font-color;
            font-size: 0.95em;
            font-weight: normal;
            display: flex;
            align-items: center;

            a {
                color: var(--secondary-color);
            }

            span {
                white-space: nowrap;
            }

            svg {
                margin-right: 7px;
                font-size: 0.9em;
            }

            &.date,
            &.reading-item {
                @media(max-width: 800px) {
                    display: none;
                }
            }

            &.author:hover {
                color: @secondary-color;
            }
        }
    }
}
