@import './variables.less';
@import './mixins.less';

.post-card {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  box-shadow: @box-shadow;
  @media (max-width: @tablet-breakpoint) {
    padding: 0;
  }

  * {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;

    .post-card-image {
      opacity: 0.7;
    }
  }

  .post-card-title {
    margin: 0;
    padding: 0;
    color: @header-font-color;
    font-family: @header-font;
    font-size: 1.9em;
    font-weight: unset;
    letter-spacing: -.3px;
    line-height: 1;
    transition: @transition;
    @media (max-width: @mobile-breakpoint) {
      margin-bottom: 0;
      font-family: @header-font-secondary;
      font-size: 1.6em;
    }
    @media (max-width: 400px) {
      font-size: 1.5em;
    }

    &:hover {
      color: @hover-color;
      cursor: pointer;
    }
  }

  .post-card-image {
    width: 100%;
    background: @text-color-light no-repeat center center;
    background-size: cover;
    transition: opacity 0.2s ease-out;
    @media (max-width: 1040px) {
      height: auto !important;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .post-card-detail {
    padding: 30px;
    overflow: hidden;
    @media (max-width: @mobile-breakpoint) {
      padding: 25px;
    }

    .post-card-excerpt {
      -webkit-line-clamp: 3;
      .line-clamp();
      margin: 10px auto 30px;
      color: #5e6877;
      font-family: @body-font-bold;
      font-size: 1.1em;
      letter-spacing: -.5px;
      line-height: 1.2;
      transition: all 0.2s ease-out;
      @media (max-width: @tablet-breakpoint) {
        margin: 12px auto 20px;
      }
      @media (max-width: @mobile-breakpoint) {
        font-size: 1.05em;
      }
    }
  }

  .post-card-footer {
    -webkit-line-clamp: 1;
    display: flex;
    align-items: center;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;

    .meta-item {
      display: flex;
      align-items: center;
      margin-right: 30px;
      color: #7e8ca0;
      font-family: @header-font-secondary;
      line-height: 1;
      white-space: nowrap;
      transition: @transition;

      * {
        line-height: 1;
      }

      a {
        color: #7e8ca0;
        transition: @transition;
      }

      span {
        white-space: nowrap;
        transition: @transition;
      }

      svg {
        margin-right: 5px;
      }

      &.reading-item {
        @media (max-width: @mobile-breakpoint) {
          display: none;
        }
      }

      &.date {
        @media (max-width: 1000px) {
          display: none;
        }
      }

      &.author:hover,
      &.tag:hover {
        color: @hover-color;

        * {
          color: @hover-color;
        }
      }

      &.author {
        @media(max-width: @mobile-breakpoint) {
          margin-right: 0;
        }
      }
    }
  }
}
