@import "./variables.less";
@import "./mixins.less";

.post-card {
  overflow: hidden;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: @box-shadow;
  @media (max-width: @smallscreen-breakpoint) {
    padding: 0;
  }
  @media (max-width: @tablet-breakpoint) {
    padding: 0;
  }

  * {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;

    .post-card-image {
      opacity: 0.7;
    }
  }

  .post-card-title {
    margin: 0;
    padding: 0;
    color: @header-font-color;
    font-family: @header-font;
    font-size: 1.9em;
    font-weight: unset;
    letter-spacing: -0.3px;
    line-height: 1.1;
    transition: @transition;
    @media (max-width: @smallscreen-breakpoint) {
      font-size: 1.8em;
    }
    @media (max-width: @tablet-breakpoint) {
      margin-bottom: 15px;
    }
    @media (max-width: @mobile-breakpoint) {
      font-size: 1.7em;
      line-height: 1;
    }

    &:hover {
      color: @hover-color;
      cursor: pointer;
    }
  }

  .post-card-image {
    width: 100%;
    min-width: 671px;
    min-height: 357px;
    background: @text-color-light no-repeat center center;
    background-size: cover;
    transition: opacity 0.2s ease-out;
    @media (max-width: 1040px) {
      min-width: unset;
      height: auto !important;
      min-height: 256px;
    }
    @media (max-width: @tablet-breakpoint) {
      min-height: unset;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .post-card-detail {
    padding: 25px;
    overflow: hidden;

    .post-card-excerpt {
      -webkit-line-clamp: 3;
      .line-clamp();
      margin: 10px auto 20px;
      color: #5e6877;
      font-family: @body-font-medium;
      font-size: 1.2em;
      letter-spacing: -0.5px;
      line-height: 1.3;
      transition: all 0.2s ease-out;
      @media (max-width: @smallscreen-breakpoint) {
        font-size: 1.1em;
      }
      @media (max-width: @tablet-breakpoint) {
        margin: 10px auto 20px;
      }
      @media (max-width: @mobile-breakpoint) {
        display: none;
        font-size: 1.05em;
      }
    }
  }

  .post-card-footer {
    -webkit-line-clamp: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top: 1px solid @card-footer-border-color;
    padding: 20px 0 0;

    .meta-items-left {
      display: flex;
      align-items: center;
      color: @card-footer-text-color;
      font-family: @body-font-bold;
      font-size: 0.9em;
      line-height: 1;
      white-space: nowrap;
      transition: @transition;

      * {
        line-height: 1;
      }

      a {
        color: #646f7d;
        transition: @transition;
      }

      span {
        white-space: nowrap;
        transition: @transition;
      }

      svg {
        margin-right: 5px;
        font-size: 1.8em;
      }

      .author-avatar {
        width: 38px;
        height: 38px;
        margin-right: 10px;
        border-radius: 50%;
      }

      .author-name {
        display: block;
        margin-bottom: 4px;
        color: #646f7d;
        font-family: @body-font-bold;
        font-size: 1.3em;
        line-height: 1;
      }

      .post-card-meta-info {
        font-family: @body-font-medium;
        font-size: 1em;

        .meta-item {
          margin-right: 8px;

          &.separator {
            @media (max-width: @mobile-breakpoint) {
              display: none;
            }
          }

          &.reading-time {
            @media (max-width: @mobile-breakpoint) {
              display: none;
            }
          }
        }
      }
    }
  }

  .primary-tag {
    display: block;
    width: fit-content;
    height: 14px;
    padding: 4px 6px;
    border-radius: 3px;
    color: white;
    font-family: @body-font-medium;
    line-height: 1;
    @media (max-width: @mobile-breakpoint) {
      height: 14px;
      padding: 5px;
    }

    &:hover {
      border-color: @theme-color !important;
      background: white !important;
      color: @theme-color !important;
    }
  }
}
