.related-posts,
.recent-posts {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    @media(max-width: 600px) {
      display: block;
    }
}

.related-post-card,
.recent-post-card {
    background: white;
    box-shadow: 0 0 10px #e8e9ef;
    overflow: hidden;
    width: 32%;
    box-shadow: @box-shadow;
    transition: all .2s ease-out;
    @media(max-width: @mobile-breakpoint) {
      margin-bottom: 20px;
      display: block;
      width: 100%;
    }

    &:hover {
      .related-post-info {
        background: @theme-color;
        color: white !important;
        text-decoration: none;

        * {
          color: white;
        }
      }
    }

    img {
      max-width: 100%;
    }
}

.related-post-info {
  padding: 20px;
  background: white;
  transition: @transition;
}

.related-post-title,
.recent-post-title {
    margin: 0 0 10px 0;
    width: -webkit-fill-available;
    font-size: 1.8rem;
    line-height: 1.2;
    color: @body-color;
    font-weight: 600;
}

.related-post-excerpt {
  color: #8e91a2;
  margin: 0;
  line-height: 1.1;
  -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
}
