.search-results {
    margin: 0;
    box-shadow: 4px 4px 10px rgba(45, 47, 55, 0.2);

    header {
        align-items: center;
        margin: 0;
        border-bottom: 1px solid #f3f3f3;
        padding-bottom: 15px;
        margin-bottom: 10px !important;
    }

    .search-results-count {
        font-size: 0.8em;
        opacity: 0.9;
    }

    .ais-Hits-list {
        margin: 0;
    }

    .ais-Hits-item {
        margin-bottom: 15px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .search-result {
        display: flex;
        justify-content: space-between;

        .search-result-details {
            width: 230px;

            .search-result-title {
                margin-bottom: 5px;
                color: @header-color;
                font-family: @header-font;
                line-height: 1.1 !important;
                font-size: 1.1em;
                display: block;
                opacity: 0.9;
            }

            .search-result-tag {
                display: block;
                font-size: 0.8em;
                font-weight: 600;
                opacity: 0.6;

                svg {
                    position: relative !important;
                    right: unset;
                    width: unset;
                    color: #606060;
                }
            }

            .search-result-excerpt {
                line-height: 1.1;
            }
        }

        .search-result-image {
            max-width: 100px;
            height: 66px;
        }
    }
}

.search-form {
    &:focus,
    &:hover {
        svg {
            color: #95aaba !important;
        }
    }

    input {
        line-height: normal;
        background: #efefef;
        width: 250px !important;
        border: 0;
        padding: 12px 17px;
        font-size: 1em;
        border-radius: 3px;
        transition: @transition;
        margin: 0;

        &::placeholder {
            color: #9ca7b0;
        }

        &:focus,
        &:hover {
            background: #e1edf6;

            &::placeholder{
                color: #95aaba;
            }
        }

        svg {
            transition: @transition;
        }
    }

    .ais-SearchBox-reset {
        display: none;
    }

    &:focus,
    &:hover {
        svg {
            color: #95aaba;
        }
    }

    button {
        display: none;
    }
}
