.search-result {
  display: flex;
  justify-content: space-between;

  .search-result-details {
      width: 230px;

      .search-result-title {
        margin-bottom: 10px;
        color: @header-color;
        font-family: @body-font-bold;
        line-height: 1.1 !important;
        font-size: 1.1em;
      }

      .search-result-excerpt {
            line-height: 1.2;
      }
  }

  .search-result-image {
    max-width: 100px;
    height: 66px;
  }
}
