@import 'variables.less';

.series-template {
    .series-header {
        margin: 50px 60px;
        padding-bottom: 40px;
        color: @header-color;
        border-bottom: 1px solid #d6d6d6;
        @media(max-width: @tablet-breakpoint) {
            margin: 40px;
            padding-bottom: 30px;
        }
        @media(max-width: @mobile-breakpoint) {
            padding-bottom: 20px;
        }

        .series-title {
            margin: 0 0 10px;
            @media(max-width: @tablet-breakpoint) {
                font-size: 1.75em;
            }
        }

        .series-description {
            line-height: 1.1;
            margin: 5px 0;
        }
    }
}

.series-container {
    background: white;
    max-width: 800px;
    margin: 0 auto 40px;
    @media(max-width: @tablet-breakpoint) {
        margin: 0;
    }

    .series-feature-image {
        width: -webkit-fill-available;
        width: -moz-available;
        overflow: hidden;
        height: 461px;
        @media(max-width: @tablet-breakpoint) {
            height: unset;
        }

        img {
            width: 100%;
            @media(max-width: @tablet-breakpoint) {
                margin-top: 0;
            }
        }
    }

    .post-feed {
        padding: 0 60px 60px;
        grid-gap: 50px;
        @media(max-width: @tablet-breakpoint) {
            width: auto;
            margin: 0 40px;
            padding: 0 0 60px;
        }
        @media(max-width: @mobile-breakpoint) {
            grid-gap: 30px;
        }
    }

    .series-post-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: @mobile-breakpoint) {
            flex-direction: column;
        }

        .series-post-card-image {
          min-width: 120px;
          width: 120px;
          height: 80px;
            border-radius: 2px;
            overflow: hidden;
            @media(max-width: @mobile-breakpoint) {
                display: none;
            }

            img {
                width: 200%;
                margin-left: -36px;
            }
        }

        .series-post-card-detail {
            margin: 0 20px;
            width: -webkit-fill-available;
            width: -moz-available;
            @media(max-width: @mobile-breakpoint) {
                margin: 0;
                display: flex;
                justify-content: space-between;
            }

            .series-post-card-count {
                margin-bottom: 5px;
                color: #76879f;
                font-weight: 600;
                font-size: .8em;
                @media(max-width: @mobile-breakpoint) {
                    font-size: 0.8em;
                    min-width: 50px;
                    white-space: nowrap;
                    font-weight: 600;
                    margin-right: 5px;
                    margin-bottom: 0;
                }
            }

            .series-post-card-title {
                font-family: @header-bold;
                font-weight: normal;
                font-size: 1.3em;
                line-height: 1.1;
                color: lighten(@header-color, 2%);
                margin-bottom: 5px;
                @media(max-width: @mobile-breakpoint) {
                    margin: 0;
                    font-size: 1em;
                    line-height: 1.2;
                    width: 100%;
                }

                a {
                    color: lighten(@header-color, 2%);
                    transition: @transition;

                    &:hover {
                        color: @hover-color;
                    }
                }
            }

            .series-post-card-excerpt {
              font-size: 1.1em;
              opacity: .8;
                @media(max-width: @mobile-breakpoint) {
                    display: none;
                }
            }
        }
    }
}

.series-template {
    .nav-wrapper {
        max-width: 800px;
        @media(max-width: @tablet-breakpoint) {
            max-width: 86%;
        }
    }
}
