.sidebar {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    @media(max-width: 800px) {
        display: none;
    }

    .widget {
        padding: 25px;
        background: #fff 50%;
        background-size: cover;
        box-shadow: @box-shadow;
        transition: all 0.5s ease;

        p {
            margin: 0;
            line-height: 1;
        }

        .widget-trending-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            .trending {
              color: #3fa77a;
              font-weight: bold;
              opacity: 0.7;
              font-size: 1em;

                svg {
                    margin: 0 3px 0 0;
                    font-size: 1.1em;
                }
            }

            .trend-type {
                opacity: 0.6;
                font-size: 0.9em;
            }
        }

        &.about {
            .site-headline {
                color: #6d7a87;
                text-transform: uppercase;
                font-size: 136%;
                display: block;
                width: 100%;
                text-align: justify;
                white-space: nowrap;
            }

            .description {
                margin: 15px 0 0;
                line-height: 1.2;
                text-align: justify;
                font-size: 1em;
            }
        }

        &.social {
            display: flex;
            justify-content: space-between;

            svg {
                font-size: 1.6em;
            }
            .social-buttons();
        }

        &.tags {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;

            .tag {
                color: #778794;
                line-height: 1.5em;
                display: inline-block;
                font-size: 0.9em !important;
                -webkit-transition: all 0.2s ease;
                -moz-transition: all 0.2s ease;
                -o-transition: all 0.2s ease;
                transition: all 0.2s ease;
                font-family: @body-font;
                font-weight: normal;
                flex-grow: 1;
                text-align: center;
                margin: 0 2px 4px;
                padding: 6px 10px;
                border: 1px solid #d7dee7;

                &:hover {
                    cursor: pointer;
                    background: @hover-color;
                    border: 1px solid @hover-color;
                    color: white !important;
                }
            }
        }

        &.newsletter {
            .newsletter-description {
                font-size: 1em;
                line-height: 1.3;
            }

            input[type="text"],
            input[type="email"] {
                width: -webkit-fill-available;
                width: -moz-available;
                width: -moz-available;
                padding: 13px 10px;
                background: white;
                font-size: 0.9em;
                letter-spacing: 1px;
                border: 1px solid #d5dbe6;
                transition: @transition;
                margin: 10px 0;
                .input-field-interactions();
            }

            button {
                width: -webkit-fill-available !important;
                width: -moz-available !important;
                background: @theme-color;
                padding: 10px;
                font-size: 1em;
                color: white;
                border: 1px solid @theme-color;
                text-transform: Uppercase;
                outline: none;
                transition: @transition;
                margin-top: 0;

                span {
                    font-size: 14px;
                    text-transform: uppercase;
                }

                &:hover {
                    background: white;
                    color: @theme-color !important;
                    cursor: pointer;
                }
            }
        }

        &.series {

          .widget-series-featured {

            img {
                width: 100%;
                transition: @transition;
            }

            .series-widget-detail {
                padding: 15px;
                border: 1px solid #d7dee7;

                .series-widget-title {
                    margin: 0 0 10px;
                    font-family: @header-font;
                }

                .series-widget-description {
                    line-height: 1.1;
                    margin-bottom: 10px;
                    transition: @transition;
                }

                .series-widget-count {
                    text-align: right;
                    opacity: 0.6;
                    font-size: 0.9em;
                }
            }

            &:hover {
              cursor: pointer;

              img {
                opacity: .7;
              }

              .series-widget-detail {
                background: lighten(@hover-color, 10%);
                border: 1px solid lighten(@hover-color, 10%);

                * {
                  color: white;
                }
              }
            }
          }
        }

        &.trending {
            .trending-page {
                display: block;
                color: lighten(@header-color, 15%);
                padding: 10px 0 15px;
                margin: 10px 0;
                border-bottom: 1px solid #e7e7e7;
                font-weight: 600;
                font-size: 0.9em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 283px;

                &:first-of-type {
                    padding: 0 0 15px;
                    margin: 0 0 10px;
                }

                &:last-of-type {
                    padding: 10px 0 0;
                    margin: 10px 0 0;
                    border-bottom: 0 solid #e7e7e7;
                }
            }

            .widget-trending-pages {
              margin-top: 30px;
            }
        }

        &.twitter {
            overflow: hidden;

            .twitter-header {
                display: flex;
                align-items: center;
                margin-bottom: 30px;

                .twitter-avatar {
                    overflow: hidden;
                    height: 40px;
                    margin-right: 15px;
                }

                .twitter-name {
                    color: #4b5776;
                    font-weight: 600;
                    font-size: 1.2em;
                }

                .twitter-user {
                    color: #516b83;
                    font-weight: 500;
                    margin-top: 4px;
                    font-weight: 400;
                    font-size: 1em;
                }
            }

            .tweet {
                border-bottom: 1px solid #e7e7e7;
                padding: 30px 0;
                font-family: 'HarmoniaSansPro-Regular', sans-serif;

                &:last-of-type {
                    border-bottom: 0;
                    padding: 30px 0 0;
                }

                &:first-of-type {
                    padding: 0 0 30px;
                }

                .tweet-head {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 15px;

                    .date {
                        color: #b0bdcd;
                        font-size: 0.9em;
                    }
                }

                .tweet-link {
                    color: #6baaf2;
                    font-family: 'AvenirNextLTPro-Medium', sans-serif;
                    font-weight: 600;
                    display: block;
                    font-size: 0.8em;
                    white-space: nowrap;
                    overflow: hidden;
                    max-width: 70%;
                    text-overflow: ellipsis;
                }

                .tweet-hastags {
                    overflow: hidden;
                    width: 100%;
                    margin: 15px 0;

                    .hashtag {
                        color: #6a849f;
                        font-size: 0.9em;
                        margin: 0 5px 5px 3px;
                        float: left;
                    }
                }

                .tweet-content {
                    margin: 0;
                    line-height: 1.3;
                    font-size: 1.0em;
                }
            }
        }
    }
}
