/* Tag Archives
/* ---------------------------------------------------------- */
.tag-template {

    .tag-header {
      .header-card();
    }

    .tag-title {
        margin: 0 0 1.5rem;
        font-size: 1.8em;
        color: #44495e;
        font-weight: 100;
    }

    .tag-description {
        font-size: 1.6rem;
        line-height: 1.5em;
        color: #44495e;
        margin: 0;
    }

    .tag-header p {
        font-size: 1.7rem;
    }
}
