// Colors

@text-color-light: #767e8d;
@h1-color: #475165;
@body-color: #4e505a;
@hover-color: #40cebb;
@secondary-color: #30b1a7;
@theme-color: #5eb9d7;
@secondary-font-color: #969fa4;

@base-url: 'https://hackersandslackers.com/';
@assets: '../../assets/';


// Social colors
@facebook-color: #3b5998;
@medium-color: #000;
@twitter-color: #3cf;
@tumblr-color: #35465c;
@google-color: #dc4a38;
@linkedin-color: #4875B4;
@github-color: #000;
@rss-color: #ff6501;
@reddit-color: #ff4500;


// Shadows
@shadow-color: 0 0 3px rgba(65, 67, 144, 0.1);
@box-shadow: 0 1px 4px rgba(39, 44, 49, 0.07);

// Breakpoints
@tablet-breakpoint: 800px;
@mobile-breakpoint: 600px;

// Font Styles
@body-font: 'proxima-nova', sans-serif;
@header-font: 'HarmoniaSansPro-Bold', sans-serif;
@sub-header-font: 'HarmoniaSansPro-Regular', sans-serif;

// Animations
@transition: all 0.2s ease-out;
