// Font Colors
@header-font-color: #4e576a;
@body-color: #414d5a;
@hover-color: #40cebb;
@theme-color: #0297f6;
@secondary-font-color: #4d525d;
@text-color-light: #494e59;
@light-header-color: #6c7888;
@background-color: #f4f8fb;
@button-color: #7488a9;

// Code Colors
@nord0: #2e3440;
@nord1: #3b4252;
@nord2: #434c5e;
@nord3: #4c566a;
@nord4: #d8dee9;
@nord5: #e5e9f0;
@nord6: #eceff4;
@nord7: #8fbcbb;
@nord8: #88c0d0;
@nord9: #81a1c1;
@nord10: #5e81ac;
@nord11: #bf616a;
@nord12: #d08770;
@nord13: #ebcb8b;
@nord14: #a3be8c;
@nord15: #b48ead;

// Post Colors
@card-background-color: #f2f5fa;
@code-gold: #d0a349;
@code-mint: #88c0d0;
@code-monarch: #d08770;
@code-frost: #5e81ac;

// Social colors
@facebook-color: #3b5998;
@medium-color: #000;
@twitter-color: #53b6d8;
@google-color: #dc4a38;
@linkedin-color: #4875b4;
@github-color: #000;
@rss-color: #ff6501;
@reddit-color: #ff4500;
@pocket-color: #e55e6f;

// Shadows
@shadow-color: 0 0 3px rgba(65, 67, 144, 0.1);
@box-shadow: 0 1px 4px rgba(39, 44, 49, 0.15);

// Breakpoints
@smallscreen-breakpoint: 950px;
@tablet-breakpoint: 800px;
@mobile-breakpoint: 600px;

// Font Styles
@body-font: "CamphorPro-Regular", "HelveticaNeue", sans-serif;
@body-font-medium: "CamphorPro-Medium", "HelveticaNeue", sans-serif;
@body-font-bold: "CamphorPro-Bold", "HelveticaNeue", sans-serif;
@header-font: "TTNormsPro-Bold", "HelveticaNeue", sans-serif;
@header-font-secondary: "TTNormsPro-Medium", "HelveticaNeue", sans-serif;
@monospace-font: "dm", SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
@table-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Helvetica Neue, sans-serif;

// Misc
@transition: all 0.2s ease-out;
@base-url: "https://hackersandslackers.com/";
@assets: "../../assets/";

// Posts
@post-max-width: 850px;
