@import "../mixins.less";
@import "../variables.less";

.content-body > pre,
.kg-code-card > pre {
  display: block;
  padding: 15px 20px 20px;
  overflow-x: hidden;
  border-radius: 4px;
  background: @card-background-color !important;
  color: unset !important;
  font-family: @monospace-font !important;
  font-size: 0.85em !important;
  line-height: 1.5 !important;
  text-shadow: none !important;
  @media (max-width: @tablet-breakpoint) {
    font-size: 0.8em !important;
  }
  @media (max-width: @mobile-breakpoint) {
    .mobile-horizontal-scroll();
    .mobile-full-width();
    padding: 15px 25px;
    border-radius: 0 !important;
    border-bottom: 1px solid #dde1e9;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  code {
    color: #343e4f !important;
    font-family: @monospace-font !important;
    line-height: 1.3 !important;
    text-shadow: unset !important;
    white-space: pre-wrap !important;
    @media (max-width: @mobile-breakpoint) {
      border-radius: 0;
      white-space: pre !important;
      .mobile-horizontal-scroll-child();
    }

    &.language-vim {
      white-space: unset;
    }

    .namespace {
      opacity: 0.95;
    }

    .subst {
      color: #f3f6fa !important;
    }

    .selector-tag {
      color: #81A1C1 !important;
    }

    .selector-id {
      color: @code-mint !important;
      font-weight: bold !important;
    }

    .selector-class {
      color: @code-mint !important;
    }

    .selector-attr {
      color: @code-mint !important;
    }

    .selector-pseudo {
      color: @code-mint !important;
    }

    .addition {
      background-color: rgba(163, 190, 140, 0.5) !important;
    }

    .deletion {
      background-color: rgba(191, 97, 106, 0.5) !important;
    }

    .built_in,
    .type {
      color: @code-mint !important;
    }

    .class {
      color: @code-mint !important;
    }

    .function {
      color: #4cbacc !important;
      font-weight: 900 !important;
    }

    .function > .title {
      color: @code-mint !important;
    }

    .keyword,
    .literal,
    .symbol {
      color: #4070a2 !important;
      font-weight: 900 !important;
    }

    .number {
      color: #c38eb8 !important;
      font-weight: 900;
    }

    .regexp {
      color: #EBCB8B !important;
    }

    .string {
      color: #179071 !important;
    }

    .title {
      color: @code-mint !important;
    }

    .params {
      color: #D8DEE9 !important;
    }

    .bullet {
      color: #81A1C1 !important;
    }

    .code {
      color: @code-mint !important;
    }

    .emphasis {
      font-style: italic !important;
    }

    .formula {
      color: @code-mint !important;
    }

    .strong {
      font-weight: bold !important;
    }

    .link:hover {
      text-decoration: underline !important;
    }

    .quote {
      color: #4C566A !important;
    }

    .comment {
      color: #a2a7ba !important;
      font-weight: bold;
      letter-spacing: .5px;
      font-size: .95em;
    }

    .doctag {
      color: @code-mint !important;
    }

    .meta,
    .meta-keyword {
      color: @code-frost !important;
    }

    .meta-string {
      color: #A3BE8C !important;
    }

    .attr {
      color: @code-mint !important;
    }

    .attribute {
      color: #D8DEE9 !important;
    }

    .builtin-name {
      color: #81A1C1 !important;
    }

    .name {
      color: #81A1C1 !important;
    }

    .section {
      color: @code-mint !important;
    }

    .tag {
      color: #ce9cc5 !important;
    }

    .variable {
      color: #6188d0 !important;
    }

    .template-variable {
      color: #D8DEE9 !important;
    }

    .template-tag {
      color: @code-frost !important;
    }

    .abnf .attribute {
      color: @code-mint !important;
    }

    .abnf .symbol {
      color: #EBCB8B !important;
    }

    .apache .attribute {
      color: @code-mint !important;
    }

    .apache .section {
      color: #81A1C1 !important;
    }

    .arduino .built_in {
      color: @code-mint;
    }

    .aspectj .meta {
      color: @code-monarch;
    }

    .aspectj > .title {
      color: @code-mint;
    }

    .bnf .attribute {
      color: @code-mint;
    }

    .clojure .name {
      color: @code-mint;
    }

    .clojure .symbol {
      color: #EBCB8B;
    }

    .coq .built_in {
      color: @code-mint;
    }

    .cpp .meta-string {
      color: @code-mint;
    }

    .css .built_in {
      color: @code-mint;
    }

    .css .keyword {
      color: @code-monarch;
    }

    .diff .meta {
      color: @code-mint;
    }

    .ebnf .attribute {
      color: @code-mint;
    }

    .glsl .built_in {
      color: #EBCB8B;
    }

    .groovy .meta:not(:first-child) {
      color: @code-monarch;
    }

    .haxe .meta {
      color: @code-monarch;
    }

    .java .meta {
      color: @code-monarch;
    }

    .ldif .attribute {
      color: @code-mint;
    }

    .lisp .name {
      color: @code-mint;
    }

    .lua .built_in {
      color: @code-mint;
    }

    .moonscript .built_in {
      color: @code-mint;
    }

    .nginx .attribute {
      color: @code-mint;
    }

    .nginx .section {
      color: @code-frost;
    }

    .pf .built_in {
      color: @code-mint;
    }

    .processing .built_in {
      color: @code-mint;
    }

    .scss .keyword {
      color: #81A1C1;
    }

    .stylus .keyword {
      color: #81A1C1;
    }

    .swift .meta {
      color: @code-monarch;
    }

    .vim .built_in {
      color: @code-mint;
      font-style: italic;
    }

    .yaml .meta {
      color: @code-monarch !important;
    }

    .token {
      & * {
        background: none !important;
      }

      &.attr-value {
        color: #51a08a !important;
      }

      &.attr-name {
        color: white;
      }

      &.punctuation {
        color: #5f93cb;
      }

      &.class-name {
        color: @code-gold !important;
        font-weight: 600;
      }

      &.table.class-name {
        color: #6482a0 !important;
      }

      &.constant {
        color: #576d8c;
      }

      &.operator {
        background: none !important;
        color: #8e9bc1 !important;
        font-weight: bold;
      }

      &.atrule,
      &.property {
        color: #7ab6b4;
        font-weight: bold;
      }

      &.boolean {
        color: #c38eb8 !important;
        font-weight: 600;
      }

      &.builtin {
        color: #5b7190 !important;
        font-weight: 600;
      }

      &.triple-quoted-string {
        color: #a2a9b9 !important;
        font-weight: 600;
        letter-spacing: .3px;
      }

      &.selector {
        font-weight: 600;
      }

      &.decorator {
        font-weight: bold;
      }
    }
  }
}

pre[class*="language-toml"] {
  .token.punctuation {
    font-weight: bold;
  }

  .token.property {
    color: #a85d9b !important;
    font-weight: 500 !important;
  }
}

.content-body > pre {
  margin: 30px 0;
}

pre[class*="language-shell"] {
  .token.function {
    color: @code-gold !important;
  }

  .variable {
    font-weight: 600;
  }
}

pre[class*="language-json"] {
  .token.property{
    color: #7c8cae !important;
  }
}

pre[class*="language-ini"] {
  .token.constant {
    color: #a85d9b !important;

  }

  .token.selector {
    color: #6482a0!important;
  }
}

pre[class*="language-html"],
pre[class*="language-jinja2"] {
  .token.attr-name {
    color: @code-gold !important;
  }

  .token.tag > .tag {
    font-weight: bold;

    .punctuation {
      font-weight: 500;
    }
  }

  .token.jinja2 {
    font-weight: bold;
  }

  .jinja2 .token.delimiter.punctuation,
  .jinja2 .keyword {
    color: #7792b4 !important;
  }

  .jinja2 .token.variable,
  .jinja2 .token.string {
    color: #8baad8 !important;
  }
}
