@import "../variables.less";
@import "../mixins.less";
@import "./post.less";
@import "./kg.less";
@import "./code.less";
@import "./table.less";
@import "./seriestoc.less";
@import "./post-footer.less";
@import "./coffee.less";
@import "./codefonts.less";
@import "./comments.less";

.post-template {
  .sidebar {
    display: none;
  }

  .post-wrapper {
    position: relative;
    max-width: @post-max-width;
    margin: 0 auto;
    @media (max-width: @smallscreen-breakpoint) {
      max-width: unset;
      margin: 0 auto;
    }

    .post-head {
      display: flex;
      flex-direction: column-reverse;
      margin: 0 auto;
      padding: 0;
      .mobile-full-width();
      @media (max-width: @post-max-width) {
        padding: 0;
      }
      @media (max-width: @mobile-breakpoint) {
        flex-direction: column;
      }

      .post-title {
        display: block;
        order: 2;
        width: stretch;
        width: -moz-available;
        max-width: 720px;
        margin: 60px auto 0;
        color: @header-font-color;
        font-family: @header-font;
        font-size: 2.1em;
        font-weight: unset;
        line-height: 1.1;
        text-align: center;
        @media (max-width: @smallscreen-breakpoint) {
          padding: 0 8%;
          font-size: 1.9em;
        }
        @media (max-width: @mobile-breakpoint) {
          order: 1;
          margin: 0 auto;
          padding: 0 20px;
          font-size: 1.7em;
          text-align: left;
        }
      }
    }

    .post-image {
      order: 3;
      width: 100%;
      max-width: 850px;
      min-height: 490px;
      margin: 0 auto;
      overflow: hidden;
      background-color: #dbe5f1;
      background-position-y: center !important;
      background-size: cover !important;
      box-shadow: 0 1px 3px rgba(39, 44, 49, 0.1);
      @media (max-width: @smallscreen-breakpoint) {
        min-height: unset;
        margin: 0 30px;
        .mobile-full-width();
      }
      @media (max-width: @mobile-breakpoint) {
        margin: 0;
        box-shadow: 0 0 5px rgba(46, 63, 78, 0.1);
      }

      img {
        width: 100%;
        height: auto;
        min-height: 490px;
        line-height: 1;
        @media (max-width: @smallscreen-breakpoint) {
          min-height: unset;
        }
        @media (max-width: @mobile-breakpoint) {
          border: 0;
        }
      }
    }

    .post-meta {
      display: flex;
      justify-content: center;
      width: fit-content;
      max-width: 780px;
      margin: 15px auto 0;
      @media (max-width: @smallscreen-breakpoint) {
        padding: 0 8%;
      }
      @media (max-width: @mobile-breakpoint) {
        flex-wrap: wrap;
        align-items: center;
        justify-content: left;
        order: 2;
        width: auto;
        max-width: none;
        margin: 15px 0 40px;
        padding: 0 20px;
      }

      .tags {
        padding: 5px 10px;
        border-radius: 3px;
        color: white;
        font-size: 0.95em;
      }

      .meta-item {
        display: flex;
        align-items: center;
        margin: 0 15px;
        color: #7e8da3;
        font-size: 1.1em;
        line-height: 1;
        text-transform: capitalize;
        @media (max-width: @mobile-breakpoint) {
          height: 14px;
          margin: 0 20px 0 0;
          font-size: 1.2em;
          line-height: 1.5;

          &:last-of-type {
            margin: 0;
          }
        }

        svg {
          margin-right: 5px;
          color: #7e8da3 !important;
          font-size: 0.95em;
        }

        span {
          display: inline-block;
          height: 11px;
          font-size: 0.9em;
        }

        * {
          padding: 0;
          font-family: @body-font-bold;
          line-height: 1;
          white-space: nowrap;
        }

        a {
          color: #7e8da3;
        }

        &.desktop {
          display: flex;
        }

        &.date {
          @media (max-width: @mobile-breakpoint) {
            display: none;
          }
        }

        &.reading-time {
          @media (max-width: 500px) {
            display: none;
          }
        }

        &.author {
          img {
            width: 25px;
            height: 25px;
            margin-right: 3px;
            overflow: hidden;
            border-radius: 50%;
          }

          a {
            transition: @transition;
          }
        }

        a {
          text-decoration: none;

          &:hover {
            color: @hover-color;

            & > span {
              color: @hover-color !important;
            }
          }
        }
      }
    }
  }

  .post-wrapper > .post {
    position: relative;
    margin: 60px 0 30px;
    padding: 0 50px 40px;
    background: white;
    box-shadow: @box-shadow;
    @media (max-width: @smallscreen-breakpoint) {
      width: 100%;
      margin: 0 0 30px;
      padding: 0 0 40px;
    }
    @media (max-width: @mobile-breakpoint) {
      padding: 0 0 30px;
    }

    hr {
      opacity: 0.3;
    }

    .post-content {
      position: relative;
      margin-top: 40px;
      @media (max-width: @smallscreen-breakpoint) {
        padding: 0 8%;
      }
      @media (max-width: @mobile-breakpoint) {
        margin-top: 30px;
        padding: 0 30px;
      }

      h2 {
        width: 100%;
        margin: 40px 0 5px;
        font-size: 1.9em;
        font-weight: unset;
        line-height: 1.2;
        @media (max-width: @mobile-breakpoint) {
          width: auto;
          margin-bottom: 5px;
          border: none;
          font-size: 1.6em;
          text-align: left;
        }
      }

      h3 {
        .body-h3();
      }

      h4 {
        margin: 30px 0 5px;
      }

      p {
        .body-font();
        margin: 0 0 25px;
      }

      & > a,
      li > a,
      p > a,
      strong > a {
        .link();
      }

      & > strong,
      blockquote > strong,
      li > strong,
      p > strong {
        font-family: @body-font-bold;
        font-weight: unset;
      }

      & > ol,
      & > ul {
        .lists();
      }

      & > iframe {
        width: 100%;
        margin: 0 auto 30px;
        box-shadow: @box-shadow;
        @media (max-width: @mobile-breakpoint) {
          .mobile-full-width();
          min-width: 120%;
          max-height: 350px;
        }
      }

      .plotly-graph {
        height: 400px;
        @media (max-width: @mobile-breakpoint) {
          height: 300px;
        }
      }

      li > code,
      p > code {
        .inline-code();
      }

      /* Start of Protip box */

      .protip {
        .protip();
      }

      & > blockquote {
        .blockquote();
      }

      .subtext {
        .subtext();
      }

      .intro-notice {
        .post-intro-notice();
      }

      .handscroller {
        &:hover {
          cursor: grab !important;
        }
      }
    }

    .series-next-prev {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      @media (max-width: @mobile-breakpoint) {
        flex-direction: column;
      }

      .next-post {
        text-align: right;
      }

      .series-nextprev {
        min-width: 43%;
        max-width: 43%;
        padding: 15px;
        border-top: 1px solid #dedede;
        border-right: 1px solid #dedede;
        color: @body-color;
        @media (max-width: @mobile-breakpoint) {
          width: auto;
          max-width: unset;

          &:first-of-type {
            margin-bottom: 20px;
          }
        }

        &:hover {
          border-color: @theme-color;
          background-color: @theme-color;
          color: white !important;
        }

        span {
          display: block;
          margin-bottom: 8px;
          font-size: 1.2em;

          svg {
            font-size: 0.85em;
          }
        }

        h6 {
          font-family: @body-font-medium;
          font-size: 0.8em;
          .line-clamp();
          -webkit-line-clamp: 2;
          font-weight: normal;
          line-height: 1.5;
        }
      }

      .series-next-prev-placeholder {
        min-width: 43%;
        max-width: 43%;
        opacity: 0;
      }
    }

    .post-tags {
      display: block;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 100%;
      height: fit-content;
      margin: 40px 0;
      padding: 0 0 40px;
      border-bottom: 2px dotted #eaeaea;
      @media (max-width: @smallscreen-breakpoint) {
        width: auto;
        margin: 40px 8%;
      }
      @media (max-width: @mobile-breakpoint) {
        margin: 0 30px 30px;
        padding: 0 0 30px;
      }

      span:nth-child(odd) {
        display: inline-block;
      }

      .post-tag-footer a {
        display: inline-block;
        margin-right: 10px;
        padding: 9px 10px 7px;
        border-radius: 3px;
        background: rgba(238, 238, 238, 0.7);
        color: #6b7583 !important;
        font-family: @body-font-medium;
        font-size: 0.85em;
        line-height: 1;
        transition: all 0.2s ease-out;
        @media (max-width: @smallscreen-breakpoint) {
          margin: 0 8px 8px 0;
        }

        &:hover {
          background: @hover-color;
          color: white !important;
          cursor: pointer;
        }
      }
    }
  }

  .post-roundup-blurb {
    .lynx-roundup-blurb();
  }

  .basicLightbox {
    .lightbox();
  }

  .noscroll {
    overflow: hidden;
  }

  .login-button {
    border: 1px solid #f4f8fb !important;
    background: #f4f8fb !important;
    color: #f4f8fb !important;
  }
}
