.post-template {
    .sidebar {
        display: none;
    }

    .post-wrapper {
        background: white;
        box-shadow: @box-shadow;

        .post-head {
            padding: 60px 0;
            max-width: 900px;
            margin: auto;
            @media(max-width: @mobile-breakpoint) {
                padding: 30px;
                display: flex;
                flex-direction: column;
            }

            .post-title {
                width: -webkit-fill-available;
                width: -moz-available;
                display: block;
                font-family: @header-bold;
                font-size: 2.8em;
                letter-spacing: 0;
                line-height: 1.1;
                color: @header-color;
                font-weight: 100;
                text-align: center;
                max-width: 720px;
                margin: auto;
                @media(max-width: @tablet-breakpoint) {
                    font-size: 2.3em;
                }
                @media(max-width: @mobile-breakpoint) {
                    font-size: 1.8em;
                    font-family: @header-semi-bold;
                    font-weight: normal;
                    max-width: auto;
                    letter-spacing: 0;
                    line-height: 1.1;
                }
            }
        }

        .post-image {
            background-size: cover !important;
            background-position-y: center !important;
            overflow: hidden;
            margin: 0 auto;
            max-width: 950px;
            box-shadow: 0 1px 3px rgba(39, 44, 49, 0.1);
            @media (max-width: @tablet-breakpoint) {
                padding: 0 40px;
                box-shadow: none !important;
            }
            @media (max-width: @tablet-breakpoint) {
                padding: 0 30px;
            }

            img {
                width: 100%;
                line-height: 1;
                height: auto;
                @media(max-width: @mobile-breakpoint) {
                    border: 0;
                }
            }
        }

        .post-meta {
            margin: 0 auto 10px;
            color: @text-color-light;
            font-size: 12px;
            display: flex;
            width: auto;
            align-items: center;
            justify-content: center;
            @media(max-width: @mobile-breakpoint) {
                padding: 0;
                max-width: none;
                width: auto;
                margin: 5px 0 0;
                order: 2;

                .date {
                    display: none !important;
                }
            }

            .tags {
                padding: 5px 10px;
                border-radius: 3px;
                color: white;
                font-size: 0.95em;
            }

            .meta-item {
                margin-right: 30px;
                font-size: 0.8em;
                opacity: 0.6;
                font-family: @body-font-bold;
                font-size: 1.2em;
                color: @text-color-light;
                display: flex;
                align-items: center;
                text-transform: capitalize;
                line-height: 1;
                @media(max-width: @mobile-breakpoint) {
                    margin: 0 25px 0 0;
                    line-height: 1.5;
                }

                a {
                    font-weight: @body-font-bold;
                    color: unset;
                }

                svg {
                    margin-right: 5px;
                    font-size: 0.8em;
                }

                * {
                    padding: 0;
                    color: #484a4f !important;
                    white-space: nowrap;
                    font-family: @body-font-bold;
                }

                a {
                    display: flex;
                    align-items: center;
                    transition: @transition;
                    font-weight: 500;

                    &:hover {
                        color: @hover-color !important;
                    }
                }

                &.desktop {
                    display: flex;
                }

                &.reading-time {
                    @media(max-width: @mobile-breakpoint) {
                        display: none;
                    }
                }

                svg {
                    margin-right: 8px;
                }

                a {
                    text-decoration: none;

                    &:hover {
                        color: @hover-color;

                        & > span {
                            color: @hover-color !important;
                        }
                    }
                }

                &:last-child {
                    margin: 0;
                }
            }
        }
    }

    .post {
        background: white;
        max-width: 720px;
        margin: 60px auto 40px;
        position: relative;
        padding-bottom: 30px;
        @media(max-width: @tablet-breakpoint) {
            width: auto;
        }
        @media(max-width: @mobile-breakpoint) {
            margin: 0;
        }

        hr {
            opacity: 0.3;
            margin: -5px 0 30px;
        }

        .subtext {
            color: #a7a7a7;
            font-style: italic;
            font-weight: 100;
            margin-bottom: 20px;
            font-size: 0.85em;
            display: block;
            line-height: 1.5;
            text-align: right;
        }

        .handscroller {
            &:hover {
                cursor: grab !important;
            }
        }

        .full-image img {
            background: white;
        }

        .post-tags {
            display: block;
            justify-content: space-between;
            align-items: center;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
            margin: 40px 0;
            width: 100%;
            max-width: 100%;

            * {
                display: none;
            }

            span:nth-child(odd) {
                display: inline-block;
            }

            a {
                color: #99a2b3 !important;
                border: 1px solid #e3e8f0;
                border-radius: 3px;
                font-size: 0.9em;
                font-weight: unset !important;
                margin-right: 10px;
                line-height: 1;
                padding: 8px 10px;
                font-family: @body-font;
                transition: all 0.2s ease-out;
                display: inline-block;
                @media(max-width: @tablet-breakpoint) {
                    margin-bottom: 5px;
                    margin-right: 5px;
                    font-size: 0.9em;
                }

                &:hover {
                    cursor: pointer;
                    background: @hover-color;
                    border: 1px solid @hover-color;
                    color: white !important;
                }
            }
        }

        .post-content {
            position: relative;
            @media(max-width: @tablet-breakpoint) {
                margin: 40px;
            }
            @media(max-width: @mobile-breakpoint) {
                margin: 40px 30px 30px;
            }

            h2 {
                margin: 40px 0 5px;
                color: @header-color;
                line-height: 1.3;
                font-family: @sub-header-font;
                font-weight: 100!important;
                font-size: 2em;
                width: 100%;
                @media(max-width: @tablet-breakpoint) {
                    font-size: 1.9em;
                }
                @media(max-width: @mobile-breakpoint) {
                    font-size: 1.6em;
                    text-align: left;
                    width: auto;
                    line-height: 1.2;
                    font-weight: 500 !important;
                    border: none;
                    margin-bottom: 5px;
                }
            }

            h4 {
                margin: 30px 0 5px;
            }

            p {
                .body-font()
            }

            li {
              font-size: .98em;
              text-align: left;
            	color: @body-color;
            	font-family: @body-font;
            	-webkit-font-smoothing: auto;
            	margin: 0 0 20px;
            	line-height: 1.5em;
            }

            a {
                color: @theme-color;
                font-family: @body-font-bold;
                transition: @transition;
                font-weight: 600;

                &:hover {
                    color: @hover-color;
                }
            }

            p {
                margin: 0 0 20px;
                line-height: 1.5em;
            }

            ol,
            ul {
                margin: 0 10px 20px;
                @media(max-width:600px) {
                    margin: 20px 15px 25px;
                    padding-left: 15px;
                }

                li {
                    margin: 0 0 10px;
                    padding-left: 0;
                    line-height: 1.4;
                    display: list-item;

                    & > ul {
                        margin: 10px 0;
                        font-size: 0.9em;
                        margin-top: 10px;

                        li {
                            margin: 0 0 0 10px;

                            &:last-of-type {
                                padding-bottom: 0;
                            }
                        }
                    }
                }
            }

            li > code,
            p > code {
                display: inline;
                overflow-y: visible;
                width: fit-content;
                background: rgba(183, 214, 247, 0.18);
                color: #3297b5;
                padding: 2px 4px;
                border-radius: 2px;
                font-size: 0.85em;
                font-weight: 400;
                font-family: 'dm', sans-serif;
                white-space: nowrap;
                border: 1px solid #e9f1fb;
            }

            .kg-image-card {
                width: 99%;
                max-width: 99%;
                margin: 30px auto;
                overflow: visible;
                border: 1px solid rgba(206, 206, 206, 0.42);
                border-radius: 3px;
                overflow: hidden;
                @media(max-width: @mobile-breakpoint) {
                    .mobile-full-width();
                    width: auto !important;
                    max-width: none;
                    margin-top: 25px;
                    margin-bottom: 30px;
                }

                &:hover {
                    cursor: zoom-in;
                }

                img {
                    margin: 0;
                    display: block;
                    width: 100%;
                    border-left: 0;
                    border-right: 0;
                    max-width: 100%;
                    margin: 0 auto;
                    display: block;
                    @media(max-width: @mobile-breakpoint) {
                        margin-bottom: -5px !important;
                    }

                    &:hover {
                        cursor: zoom-in;
                    }
                }

                figcaption {
                    width: -webkit-fill-available;
                    width: -moz-available;
                    width: -moz-available;
                    margin: 0 auto;
                    padding: 10px;
                    background-color: rgba(33,69,138,.04);
                    color: #5e6167;
                    font-size: 0.9em;
                    text-align: center;
                    white-space: normal;
                    line-height: 1.5;
                    border-top: 1px solid #e0e1e4;
                    @media(max-width: @mobile-breakpoint) {
                        display: block;
                        width: auto !important;
                        height: auto;
                        margin-top: 5px;
                        padding: 10px 25px !important;
                        line-height: 1.4 !important;
                    }
                }

                &:hover {
                    cursor: zoom-in;
                }
            }

            .kg-code-card {
                width: 100%;
                margin: 30px 0;
                position: relative;
                @media(max-width: @mobile-breakpoint) {
                    .mobile-full-width();
                    width: unset;
                }

                pre {
                    margin: 0;
                }

                figcaption {
                    font-size: 0.8em;
                    text-align: center;
                    position: absolute;
                    top: 12px;
                    right: 12px;
                    z-index: 10;
                    mix-blend-mode: screen;
                    color: #596271;
                }
            }
            /*   Start of Protip box */
            .protip {
                background: rgba(255, 222, 196, 0.42);
                padding: 53px 20px 16px;
                font-size: 0.96em;
                overflow: hidden;
                margin: 40px auto;
                border-radius: 5px;
                line-height: 1.7;
                position: relative;
                color: #4c3100;
                box-shadow: -1px 1px 0 #f1ddce;
                @media(max-width: @mobile-breakpoint) {
                    line-height: 1.6;
                    font-size: 0.9em;
                }

                a {
                    color: #d88945;
                    font-weight: 600;
                }

                &::before {
                    margin-bottom: 11px;
                    font-size: 14px;
                    width: 100%;
                    height: auto;
                    background: #f5dfce;
                    content: "Protip";
                    display: block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    position: absolute;
                    padding: 6px 15px;
                    font-weight: 700;
                    top: 0;
                    left: 0;
                    right: 0;
                    margin-left: unset;
                    margin-right: unset;
                    @media(max-width: @mobile-breakpoint) {
                        padding: 5px 12px;
                    }
                }

                ol,
                ul {
                    margin: 20px 30px 0;

                    li::before {
                        color: #dc9e5f;
                    }
                }

                & > code {
                    border-radius: 3px;
                    white-space: normal;
                    background: #ffe5cb;
                    padding: 3px 5px;
                    color: #8b572b;
                    border: 1px solid #e8cfbb;
                    text-shadow: unset;
                    font-size: 0.8em;
                    font-family: 'dm', sans-serif;
                }

                pre {
                    margin: 15px auto 10px !important;
                    background: #ffe5cb;
                    color: #8b572b;
                    padding: 12px 19px;
                    border-radius: 3px;
                    @media(max-width: @mobile-breakpoint) {
                        min-width: 100% !important;
                    }

                    code {
                        white-space: normal;
                        @media(max-width: @mobile-breakpoint) {
                            border-radius: 0;
                        }

                        &:before {
                            text-shadow: -1px 1px 1px rgba(46, 31, 0, 0.6) !important;
                            background: rgb(221, 173, 134);
                            color: white;
                            border-radius: 2px 2px 0 0;
                            mix-blend-mode: unset;
                            width: -webkit-fill-available;
                            width: -moz-available;
                            top: 0;
                            left: 0;
                            right: 0;
                        }
                    }
                }
            }

            blockquote {
                color: #8d969a;
                padding: 0 20px;
                font-size: 1em;
                line-height: 1.6;
                overflow: hidden;
                margin: 30px auto;
                max-width: 85%;
                font-style: italic;
                border-left: 0.4em solid #DDDFE2;
                @media(max-width: @mobile-breakpoint) {
                    margin: 20px auto;
                }

                & > p {
                    margin: 0 0 20px !important;
                    color: #858e94;
                    font-style: italic;
                    -webkit-font-smoothing: antialiased;
                }

                & > p:last-child {
                    margin: 0 !important;
                }

                * {
                    font-style: italic;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #a9abae;
                }
            }

            pre {
                @media(max-width: @mobile-breakpoint) {
                    .mobile-full-width();
                    border-radius: 0;
                }
            }
        }

        .author-card {
            border-top: 2px dotted #f3f3f3;
            justify-content: left;
            @media(max-width: @tablet-breakpoint) {
                padding: 30px 0 0;
                margin: 0 30px;
            }

            .author-card-content {
                max-width: 500px;
            }
        }
    }

    .post-footer {
        width: 760px;
        max-width: 90%;
        margin: 40px auto;
        @media(max-width: @mobile-breakpoint) {
            /*margin: 20px auto;*/
        }

        .post-social {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    nav {
        margin-bottom: 0 !important;

        .nav-wrapper {
            max-width: 950px;
            @media(max-width: 950px) {
                max-width: 88%;
            }
            @media(max-width: @mobile-breakpoint) {
                width: auto;
                margin: auto 30px;
                max-width: unset;
            }
        }
    }

    .widget.newsletter {
        padding: 50px;
        text-align: center;
        background: #d9e3ee;
        box-shadow: @box-shadow;
        @media(max-width: @mobile-breakpoint) {
            padding: 40px;
        }

        form {
            @media(max-width: @mobile-breakpoint) {
                display: flex;
            }
        }

        .newsletter-description {
            line-height: 1.3;
            margin: 0 auto 1.5em;
            max-width: 550px;
            font-size: 1.1em;
            color: #6e767e;
            @media(max-width: @mobile-breakpoint) {
                font-size: 1em;
                font-weight: 500;
            }
        }

        .subscribe-input-class {
            padding: 15px;
            width: 400px;
            border: 0 !important;
            font-size: 1em;
            border: 1px inner white !important;
            border-right: 0;
            .input-field-interactions();
            @media(max-width: @mobile-breakpoint) {
                width: -webkit-fill-available;
                padding: 11px 13px;
            }
        }

        button {
            padding: 15px 34px;
            font-size: 1em;
            border: 1px inner @theme-color !important;
            .button-styles();
            @media(max-width: @mobile-breakpoint) {
                padding: 10px 22px;
            }
        }
    }
}
