.post-footer {
    width: 760px;
    max-width: 90%;
    margin: 40px auto 0;
    @media(max-width: @mobile-breakpoint) {
        margin: 40px auto 0;
    }

    .related-posts {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        @media(max-width: @mobile-breakpoint) {
            display: block;
        }

        .related-post-card {
            background: white;
            box-shadow: 0 0 10px #e8e9ef;
            overflow: hidden;
            width: 32%;
            box-shadow: @box-shadow;
            transition: all 0.2s ease-out;
            @media(max-width: @mobile-breakpoint) {
                margin-bottom: 10px;
                width: 100%;
                display: flex;
                flex-direction: row;
            }

            &:hover {
                background: @theme-color;

                .related-post-info {
                    color: white !important;
                    text-decoration: none;

                    .related-post-title {
                        color: white;
                    }

                    * {
                        color: white;
                    }
                }
            }

            .related-post-image-wrapper {
                width: 100%;
                @media(max-width: @mobile-breakpoint) {
                    width: 185px;
                    max-width: 185px;
                    height: 103px;
                    overflow: hidden;
                }

                img {
                    width: 100%;
                    @media(max-width: @mobile-breakpoint) {
                        width: unset;
                        height: 100%;
                    }
                }
            }

            .related-post-info {
                padding: 20px;
                transition: @transition;
                width: -webkit-fill-available;
                width: -moz-available;
                overflow: hidden;

                .related-post-title {
                    margin: 0 0 15px;
                    width: -webkit-fill-available;
                    width: -moz-available;
                    font-size: 1em;
                    line-height: 1.2;
                    color: #616f7d;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-family: @body-font-bold;
                    font-weight: normal;
                    @media(max-width: @mobile-breakpoint) {
                        font-size: 1em;
                        margin: 0 0 12px;
                    }
                }

                .related-post-tags {
                    color: #757d8c;
                    opacity: 0.9;
                    font-size: 0.8em;
                    white-space: nowrap;
                    overflow: hidden;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    display: flex;
                    align-items: center;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    svg {
                        margin-right: 5px;
                    }

                    .tag-separator {
                        margin-right: 5px;
                    }

                    .tag {
                        font-family: @body-font-bold;
                    }
                }
            }
        }
    }

    .widget.newsletter {
        padding: 30px;
        text-align: center;
        box-shadow: @box-shadow;
        position: relative;
        z-index: 1;
        background: white;
        width: -webkit-fill-available;
        margin: 20px auto 0;

        .newsletter-description {
            line-height: 1.3;
            margin: 0 auto 1.5em;
            max-width: 320px;
            color: lighten(@body-color, 5%);
            @media(max-width: @mobile-breakpoint) {
              font-size: .9em;
              color: #707c8a;
            }
        }

        .subscribe-input-class {
            border: 1px solid #cdd4e0;
            padding: 10px;
            width: 300px;
            display: block;
            margin: 0 auto 10px;
            font-size: 0.9em;
            .input-field-interactions();
            @media(max-width: @mobile-breakpoint) {
                width: -webkit-fill-available;
                padding: 11px 13px;
            }
        }

        button {
            font-size: 1em;
            color: @theme-color;
            background: none;
            border: 0;
            text-align: right;
            outline: none;
            width: 320px;
            font-weight: 600;
            padding: 0;
            @media(max-width: @tablet-breakpoint) {
                width: 382px;
            }
            @media(max-width: @mobile-breakpoint) {
                width: 100%;
            }

            &:hover {
                color: @hover-color !important;
                background: none !important;
            }
        }
    }
}
