.post-template {
  .widget.newsletter {
      padding: 60px;
      text-align: center;
      background: #d9e3ee;
      box-shadow: @box-shadow;

      .newsletter-description {
          line-height: 1.3;
          margin: 0 auto 1.5em;
          max-width: 400px;
          font-size: 1.1em;
          color: #6e767e;
          @media(max-width: @mobile-breakpoint) {
              font-size: 1em;
              font-weight: 500;
          }
      }

      .subscribe-input-class {
          padding: 15px;
          width: 400px;
          border: 0 !important;
          font-size: 1em;
          border: 1px inner white !important;
          border-right: 0;
          border-radius: 0;
          display: block;
          margin: 0 auto 10px;
          .input-field-interactions();
          @media(max-width: @tablet-breakpoint) {
              width: 350px;
          }
          @media(max-width: @mobile-breakpoint) {
              width: -webkit-fill-available;
              padding: 11px 13px;
          }
      }

      button {
          font-size: 1em;
          color: @theme-color;
          background: none;
          border: 0;
          text-align: right;
          outline: none;
          width: 421px;
          padding: 0;
          @media(max-width: @mobile-breakpoint) {
            width: 329px;
          }

          &:hover {
            color: @hover-color !important;
            background: none !important;
          }
      }
  }
}
