.post-template {
    .sidebar {
        display: none;
    }

    .post-wrapper {
        background: white;
        box-shadow: @box-shadow;

        .post-head {
            margin: 0 auto;
            padding-top: 60px;
            max-width: 900px;
            @media(max-width: @mobile-breakpoint) {
                padding: 40px 20px 0;
                display: flex;
                flex-direction: column;
            }

            .post-title {
                width: -webkit-fill-available;
                width: -moz-available;
                display: block;
                font-family: @header-bold;
                font-size: 2em;
                letter-spacing: 0;
                line-height: 1;
                color: #3a444f;
                font-weight: 500;
                text-align: center;
                max-width: 720px;
                margin: 0 auto;
                @media(max-width: @tablet-breakpoint) {
                    max-width: 95%;
                    margin-bottom: 5px;
                }
                @media(max-width: @mobile-breakpoint) {
                    font-size: 1.7em;
                    font-family: @header-bold;
                    font-weight: normal;
                    max-width: auto;
                    letter-spacing: 0;
                    line-height: 1.1;
                    margin: 0 auto;
                    text-align: left;
                }
            }
        }

        .post-image {
            background-size: cover !important;
            background-position-y: center !important;
            overflow: hidden;
            margin: 0 auto;
            max-width: 950px;
            box-shadow: 0 1px 3px rgba(39, 44, 49, 0.1);
            @media (max-width: @tablet-breakpoint) {
                box-shadow: none !important;
                margin: 0 30px;
            }
            @media(max-width: @mobile-breakpoint) {
                order: 3;
                margin: 40px 0 0;
            }

            img {
                width: 100%;
                line-height: 1;
                height: auto;
                @media(max-width: @mobile-breakpoint) {
                    border: 0;
                }
            }
        }

        .post-meta {
            margin: 0 auto 30px;
            color: #494e59;
            font-size: 12px;
            display: flex;
            width: auto;
            align-items: center;
            justify-content: space-between;
            @media(max-width: @tablet-breakpoint) {
                margin: 0 40px;
            }
            @media(max-width: @mobile-breakpoint) {
                padding: 0;
                max-width: none;
                width: auto;
                margin: 15px 20px 0;
                order: 2;
                justify-content: left;
            }

            .tags {
                padding: 5px 10px;
                border-radius: 3px;
                color: white;
                font-size: 0.95em;
            }

            .meta-item {
                margin-right: 30px;
                font-size: 0.8em;
                opacity: 0.6;
                font-family: @body-font-bold;
                font-size: 1.2em;
                color: @text-color-light;
                display: flex;
                align-items: center;
                text-transform: capitalize;
                line-height: 1;
                @media(max-width: @mobile-breakpoint) {
                    margin: 0 20px 0 0;
                    line-height: 1.5;
                }

                svg {
                    margin-right: 5px;
                    font-size: 0.8em;
                    color: @text-color-light !important;
                }

                span {
                    @media(max-width: @mobile-breakpoint) {
                        font-size: 0.9em;
                    }
                }

                * {
                    padding: 0;
                    white-space: nowrap;
                    font-family: @body-font-bold;
                    line-height: 1;
                }

                a {
                    display: flex;
                    align-items: center;
                    transition: @transition;
                    font-weight: 500;
                    font-weight: @body-font-bold;
                    color: unset;
                    transition: @transition;

                    &:hover {
                        color: @hover-color !important;
                    }
                }

                &.desktop {
                    display: flex;
                }

                &.date {
                    @media(max-width: @mobile-breakpoint) {
                        display: none;
                    }
                }

                a {
                    text-decoration: none;

                    &:hover {
                        color: @hover-color;

                        & > span {
                            color: @hover-color !important;
                        }
                    }
                }

                &:last-child {
                    margin: 0;
                }
            }
        }
    }

    .post-excerpt {
        margin: 7px auto 60px;
        font-size: 1.1em;
        line-height: 1.2;
        font-weight: 600;
        text-align: center;
        max-width: 720px;
        color: #82848c;
        @media(max-width: @tablet-breakpoint) {
            max-width: 95%;
        }
        @media(max-width: @mobile-breakpoint) {
            margin: 7px auto 0;
            font-size: 1.1em;
            text-align: left;
        }
    }

    .post {
        background: white;
        max-width: 720px;
        margin: 20px auto 40px;
        position: relative;
        @media(max-width: @tablet-breakpoint) {
            width: auto;
        }
        @media(max-width: @mobile-breakpoint) {
            margin: 0;
        }

        hr {
            opacity: 0.3;
            margin: -5px 0 30px;
        }

        .subtext {
            color: #a7a7a7;
            font-style: italic;
            font-weight: 100;
            margin-bottom: 20px;
            font-size: 0.85em;
            display: block;
            line-height: 1.5;
            text-align: right;
        }

        .handscroller {
            &:hover {
                cursor: grab !important;
            }
        }

        .full-image img {
            background: white;
        }

        .post-tags {
            display: block;
            justify-content: space-between;
            align-items: center;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
            margin: 40px 0;
            width: 100%;
            max-width: 100%;

            * {
                display: none;
            }

            span:nth-child(odd) {
                display: inline-block;
            }

            a {
                color: #99a2b3 !important;
                border: 1px solid #e3e8f0;
                border-radius: 3px;
                font-size: 0.9em;
                font-weight: unset !important;
                margin-right: 10px;
                line-height: 1;
                padding: 8px 10px;
                font-family: @body-font;
                transition: all 0.2s ease-out;
                display: inline-block;
                @media(max-width: @tablet-breakpoint) {
                    margin-bottom: 7px;
                    margin-right: 7px;
                    font-size: 0.9em;
                }

                &:hover {
                    cursor: pointer;
                    background: @hover-color;
                    border: 1px solid @hover-color;
                    color: white !important;
                }
            }
        }

        .post-content {
            position: relative;
            @media(max-width: @tablet-breakpoint) {
                margin: 40px;
            }
            @media(max-width: @mobile-breakpoint) {
                margin: 40px 20px 30px;
            }

            h2 {
                margin: 40px 0 5px;
                line-height: 1.3;
                font-family: @header-font;
                font-weight: 100!important;
                font-size: 2.1em;
                width: 100%;
                @media(max-width: @tablet-breakpoint) {
                    font-size: 1.9em;
                }
                @media(max-width: @mobile-breakpoint) {
                    font-size: 1.8em;
                    text-align: left;
                    width: auto;
                    line-height: 1.2;
                    font-weight: 500 !important;
                    border: none;
                    margin-bottom: 5px;
                }
            }

            h4 {
                margin: 30px 0 5px;
            }

            p {
                .body-font()
            }

            li {
                text-align: left;
                color: @body-color;
                font-family: @body-font;
                -webkit-font-smoothing: auto;
                margin: 0 0 20px;
                line-height: 1.5em;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            a {
                color: @theme-color;
                font-family: @body-font-bold;
                transition: @transition;
                font-weight: 600;

                &:hover {
                    color: @hover-color;
                }
            }

            p {
                margin: 0 0 20px;
                line-height: 1.5em;
            }

            ol,
            ul {
                margin: 0 10px 20px;
                @media(max-width:600px) {
                    margin: 20px 15px 25px;
                    padding-left: 15px;
                }

                li {
                    margin: 0 0 10px;
                    padding-left: 0;
                    line-height: 1.4;
                    display: list-item;

                    & > ul {
                        margin: 10px 0;
                        font-size: 0.9em;
                        margin-top: 10px;

                        li {
                            margin: 0 0 0 10px;

                            &:last-of-type {
                                padding-bottom: 0;
                            }
                        }
                    }
                }
            }

            li > code,
            p > code {
                display: inline;
                overflow-y: visible;
                width: fit-content;
                background: rgba(145, 176, 211, 0.15);
                color: #5d94b7;
                padding: 3px 4px;
                border-radius: 3px;
                font-size: 0.8em;
                font-weight: 400;
                font-family: @monospace-font;
                white-space: nowrap;
            }
            /*   Start of Protip box */
            .protip {
                background: rgba(255, 222, 196, 0.42);
                padding: 53px 20px 16px;
                font-size: 0.96em;
                overflow: hidden;
                margin: 40px auto;
                border-radius: 5px;
                line-height: 1.5;
                position: relative;
                color: #4c3100;
                box-shadow: -1px 1px 0 #f1ddce;
                @media(max-width: @mobile-breakpoint) {
                    line-height: 1.6;
                    font-size: 0.9em;
                }

                a {
                    color: #d88945;
                    font-weight: 600;
                }

                &::before {
                    margin-bottom: 11px;
                    font-size: 14px;
                    width: 100%;
                    height: auto;
                    background: #f5dfce;
                    content: "Protip";
                    display: block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    position: absolute;
                    padding: 6px 15px;
                    font-weight: 700;
                    top: 0;
                    left: 0;
                    right: 0;
                    margin-left: unset;
                    margin-right: unset;
                    @media(max-width: @mobile-breakpoint) {
                        padding: 5px 12px;
                    }
                }

                ol,
                ul {
                    margin: 20px 20px 0;
                    @media(max-width: @mobile-breakpoint) {
                        margin: 10px 10px 0;
                    }

                    li {
                        color: #4c3100;
                    }
                }

                code {
                    border-radius: 3px;
                    white-space: normal;
                    background: #fee6d4;
                    padding: 3px 5px;
                    color: #8b572b;
                    border: 0;
                    text-shadow: unset;
                    font-size: 0.9em;
                    font-family: 'dm', sans-serif;
                }

                pre {
                    margin: 15px auto 10px !important;
                    background: #ffe5cb;
                    color: #8b572b;
                    padding: 12px 19px;
                    border-radius: 3px;
                    @media(max-width: @mobile-breakpoint) {
                        min-width: 100% !important;
                    }

                    code {
                        white-space: normal;
                        @media(max-width: @mobile-breakpoint) {
                            border-radius: 0;
                        }

                        &:before {
                            text-shadow: -1px 1px 1px rgba(46, 31, 0, 0.6) !important;
                            background: rgb(221, 173, 134);
                            color: white;
                            border-radius: 2px 2px 0 0;
                            mix-blend-mode: unset;
                            width: -webkit-fill-available;
                            width: -moz-available;
                            top: 0;
                            left: 0;
                            right: 0;
                        }
                    }
                }
            }

            blockquote {
                color: #646b70;
                padding: 20px;
                font-size: 1em;
                line-height: 1.5;
                overflow: hidden;
                margin: 30px auto;
                max-width: 87%;
                border-left: 0.4em solid #dddddd;
                background: #f3f3f3;
                @media(max-width: @mobile-breakpoint) {
                    margin: 20px auto;
                }

                p {
                    margin: 0 0 20px !important;

                    &:last-child {
                        margin: 0 !important;
                    }
                }

                * {
                    font-weight: 400;
                    line-height: 1.5;
                    font-size: 0.95em;
                    color: #767e84;
                    -webkit-font-smoothing: antialiased;
                    font-family: @body-font-bold;
                }

                ul {
                    margin-bottom: 0;
                }
            }

            pre {
                @media(max-width: @mobile-breakpoint) {
                    /*.mobile-full-width();*/
                    border-radius: 4px;
                }
            }
        }

        .author-card {
            border-top: 2px dotted #f3f3f3;
            justify-content: left;
            padding: 50px 0;
            @media(max-width: @tablet-breakpoint) {
                margin: 0 30px;
            }

            .author-card-content {
                max-width: 500px;
            }
        }
    }

    .post-footer {
        width: 760px;
        max-width: 90%;
        margin: 40px auto;
        @media(max-width: @mobile-breakpoint) {
            /*margin: 20px auto;*/
        }

        .post-social {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    nav {
        margin-bottom: 0;

        .nav-wrapper {
            max-width: 900px;
            @media(max-width: 920px) {
                max-width: 88%;
            }
            @media(max-width: @mobile-breakpoint) {
                width: auto;
                margin: auto 30px;
                max-width: unset;
            }
        }
    }
}
