.post-footer {
  max-width: 90%;
  margin: 40px auto;
  @media (max-width: @tablet-breakpoint) {
    margin: 40px 30px 0;
  }

  .post-footer-title {
    display: block;
    margin-bottom: 10px;
    color: #5d6b7b;
    font-family: @header-font-secondary;
    font-size: 1.3em;
    text-align: left;
  }

  .donate-section,
  .newsletter-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: @mobile-breakpoint) {
      width: 100%;
    }
  }

  .newsletter-section {
    @media (max-width: @mobile-breakpoint) {
      display: none;
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #dadada;
    }
  }

  h4 {
    margin-bottom: 20px;
    color: #5d6b7b;
    font-family: @body-font-bold;
    font-size: 1.3em;
    font-weight: 100;
    text-align: left;
    @media (max-width: @mobile-breakpoint) {
      margin-bottom: 15px;
    }
  }

  input {
    display: block;
    width: stretch;
    height: 15px;
    margin: 0 auto 10px;
    font-size: 0.9em;
    line-height: 1;
    .input-text-fields();
    padding: 13px 13px 10px !important;
    @media (max-width: @mobile-breakpoint) {
      width: stretch;
      padding: 11px;
    }
  }
}
