.series-posts {
    padding: 0;
    position: relative;
    width: -webkit-fill-available;
    width: -moz-available;
    margin: -15px 0 30px;
    padding: 20px 0;
    border-bottom: 1px solid #eaeaea;
    font-family: @header-font;
    letter-spacing: -.5px;
    @media(max-width: @tablet-breakpoint) {
        margin: 20px 30px;
        padding: 0 0 15px;
    }
    @media(max-width: @mobile-breakpoint) {
        margin: 20px 20px;
    }

    .series-title {
        font-size: 1.2em;
        color: #687f99 !important;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 10px;
        padding: 0;
        margin-top: 0;
        line-height: 1;
    }

    ol {
        counter-reset: my-awesome-counter;

        li {
            counter-increment: my-awesome-counter;

            &::before {
                content: counter(my-awesome-counter) ". ";
                color: darken(@theme-color, 20%);
                font-family: @body-font;
                font-size: 15px;
                font-weight: bold;
                display: inline-block;
                margin-right: 8px;
            }
        }
    }

    ol {
        list-style-type: upper-roman !important;
        margin: 0;
        padding: 0;
        @media(max-width: @mobile-breakpoint) {
            margin: 0;
            max-width: unset;
        }

        li {
            margin: 12px 0;
            opacity: 0.7;
            counter-increment: li -1;
            color: #687f99;
            font-size: 0.9em;
            padding-left: 0;
            line-height: 1;
            display: flex;
            justify-content: left;
            @media(max-width: @mobile-breakpoint) {
                line-height: 1.4;
                margin: 6px 0;
                padding-left: 0;
            }

            a {
                font-family: @header-font;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 100%;
                font-weight: 600;
            }

            * {
                transition: @transition;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:first-child {
                margin-top: 0;
            }

            &:hover {
                * {
                    color: @hover-color;
                }
            }

            &::before {
                content: "Part " counter(li, upper-roman) "." !important;
                color: #7f8a97;
                font-weight: 600;
                margin-right: 8px;
                font-size: 1em;
                white-space: nowrap;
                @media(max-width: @mobile-breakpoint) {
                    min-width: 54px;
                    margin-right: 2px;
                    font-weight: normal;
                    font-size: 0.9em;
                }
            }

            a {
                color: #7f8a97;
            }
        }
    }

    .current-post {
        opacity: 1 !important;
        margin-left: 0;

        &::before {
            margin-left: 0;
            font-weight: 600;
        }
    }
}
