.tableContainer {
    border-spacing: 0;
    overflow: hidden;
    border-radius: 3px;
    margin: 30px 0;
    max-height: 539px;
    border: 1px solid #e3ecf3;
    @media(max-width: @mobile-breakpoint) {
        .mobile-full-width();
        .mobile-horizontal-scroll();
    }
}

table {
    width: 100%;
    margin-bottom: 0;
    background-color: #fff;
    border-spacing: 0;
    font-family: @table-font;

    tr {
        text-align: left;
        padding: 10px;
        vertical-align: top;
        border-top: 0;
        transition: all 0.3s ease-out;
        overflow: hidden;
        white-space: nowrap;
        max-width: 150px;
        text-overflow: ellipsis;
        border-bottom: 0;
    }

    thead {
        tr {
            background: none;
            padding: 15px 10px;
            vertical-align: top;
            font-size: 1em;
            background: #f4f8fb;

            td,
            th {
              font-weight: 700;
              padding: 15px 10px !important;
              text-align: left;
              text-transform: uppercase;
              font-size: 0.8em;
              color: #303134;
              border-bottom: 1px solid #e3ecf3;
            }
        }
    }

    tbody {
        td,
        th {
            text-align: left;
            padding: 15px 10px;
            vertical-align: top;
            border-top: 0;
            transition: all 0.3s ease-out;
            overflow: hidden;
            white-space: nowrap;
            max-width: 150px;
            text-overflow: ellipsis;
            border-bottom: 0;
            font-size: 0.85em;
            border-bottom: 1px solid #e8eef2;
        }

        tr:last-of-type td {
          border-bottom: 0;
        }
    }
}
