@import "../variables.less";
@import "../mixins.less";

.site-footer {
  position: relative;
  margin: auto;
  background: white;
  box-shadow: @box-shadow;

  @media (max-width: @tablet-breakpoint) {
    margin-top: 0;
  }

  @media (max-width: @mobile-breakpoint) {
    margin-top: 30px;
  }

  .footer-wrapper {
    margin: 0 auto;
    max-width: 95%;
    width: 1020px;
    padding: 40px 0 20px;

    @media (max-width: @smallscreen-breakpoint) {
      width: auto;
      max-width: 90%;
    }

    .link-grid {
      @media (max-width: @mobile-breakpoint) {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 10px;
      }
    }

    .footer-links {
      @media (max-width: @mobile-breakpoint) {
        margin: 0;

        .navigation-link {
          margin: 0;

          &.Join {
            @media (max-width: @mobile-breakpoint) {
              display: none;
            }
          }
        }
      }
    }
  }

  .footer-widgets {
    display: flex;
    justify-content: space-between;
    @media (max-width: @mobile-breakpoint) {
      display: block;
    }

    .widget {
      width: fit-content;
      overflow: hidden;
      @media (max-width: @mobile-breakpoint) {
        width: 100%;
        max-width: unset;
        margin-bottom: 50px;
      }

      &:last-of-type {
        margin: 0;
      }

      .footer-widget-title {
        display: block;
        margin-bottom: 20px;
        color: #4b5863;
        font-family: @header-font-secondary;
        font-size: 1.2em;
        text-align: right;
        @media (max-width: @mobile-breakpoint) {
          margin-bottom: 20px;
          border-bottom: 0;
          font-size: 1.4em;
          text-align: left;
        }
      }

      dd {
        text-align: right;
        @media (max-width: @mobile-breakpoint) {
          text-align: left;
        }
      }

      .footer-navigation-link {
        display: block;
        margin: 0 0 15px;
        padding-left: 0;
        color: #5a626f;
        font-family: @body-font;
        font-size: 0.95em;
        line-height: 1.2;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: @transition;
        @media (max-width: @mobile-breakpoint) {
          font-size: 1.05em;
          text-align: left;
        }

        &:hover {
          color: white;
          cursor: pointer;
        }
      }

      &.about {
        width: 33%;
        max-width: 280px;
        @media (max-width: @tablet-breakpoint) {
          width: 38%;
          max-width: 240px;
        }
        @media (max-width: @mobile-breakpoint) {
          width: 100% !important;
          max-width: unset;
          margin-bottom: 50px;
        }

        .footer-logo {
          display: block;
          width: 230px;
          margin-bottom: 15px;
          transition: all 0.2s ease-out;
          @media (max-width: @mobile-breakpoint) {
            max-width: 230px;
          }

          &:hover {
            opacity: 0.7;
          }

          img {
            width: 230px;
            height: 47px;
          }
        }

        .description {
          color: #4c5c71;
          font-family: @body-font;
          line-height: 1.5;
          font-size: 1.05em;
          @media (max-width: @tablet-breakpoint) {
            font-size: 0.95em;
            line-height: 1.6;
          }
          @media (max-width: @mobile-breakpoint) {
            max-width: 90%;
            font-size: 1em;
          }
          @media (max-width: 500px) {
            width: 100%;
            max-width: unset;
          }
        }
      }

      &.pages {
        @media (max-width: @mobile-breakpoint) {
          width: unset;
        }
      }

      &.series {
        @media (max-width: @mobile-breakpoint) {
          width: unset;
        }
      }

      &.authors {
        @media (max-width: @tablet-breakpoint) {
          display: none;
        }
        @media (max-width: @mobile-breakpoint) {
          display: block;
        }
      }
    }
  }

  .subfooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto 0;
    padding: 0;
    @media (max-width: @mobile-breakpoint) {
      flex-direction: column;
      margin: 0;
      padding: 50px 0 0;
    }

    .copyright {
      color: lighten(@body-color, 20%);
      font-size: 0.9em;
      line-height: 1.4;
      @media (max-width: @mobile-breakpoint) {
        width: 100%;
        text-align: center;
      }
    }

    .social {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 33%;
      max-width: 280px;
      overflow: visible;
      @media (max-width: @tablet-breakpoint) {
        width: 38%;
      }
      @media (max-width: @mobile-breakpoint) {
        width: 358px;
        max-width: unset;
        margin: 0 0 15px;
      }

      button {
        -webkit-appearance: none;
        padding: unset;
        border: unset;
        outline: none;
        background: unset;
      }

      @media (max-width: @mobile-breakpoint) {
        max-width: 100%;
      }

      svg {
        color: #8f9fa8;
        font-size: 2em;
        transition: 0.2s all ease-out;
        @media (max-width: @tablet-breakpoint) {
          font-size: 2.2em;
        }
        @media (max-width: @mobile-breakpoint) {
          font-size: 2.5em;
        }

        &:hover {
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
          color: @hover-color;
          cursor: pointer;
        }
      }
    }
  }
}

/* Post Template Footer */

.post .site-footer {
  width: 850px !important;
  margin: auto;
  @media (max-width: @tablet-breakpoint) {
    width: auto !important;
    margin: auto 30px;
  }
}

.footer-wrapper {
  width: auto;
  max-width: unset;
  @media (max-width: @mobile-breakpoint) {
    width: 85% !important;
  }

  .widget.about {
    @media (max-width: @tablet-breakpoint) {
      width: 40% !important;
    }

    @media (max-width: @tablet-breakpoint) {
      width: 100% !important;
    }

    .social button {
      font-size: 0.8em;
    }
  }

  .widget.authors {
    display: block;
    @media (max-width: @tablet-breakpoint) {
      display: none;
    }
    @media (max-width: @mobile-breakpoint) {
      display: block;
      width: unset;
    }
  }

  .widget.series {
    @media (max-width: @tablet-breakpoint) {
      width: 30%;
    }
    @media (max-width: @mobile-breakpoint) {
      width: unset;
    }
  }
}

.viewport {
  position: relative;
}

/* Series Detail Footer */
/* .series-template {
  .footer-wrapper {
    width: 900px !important;
    @media (max-width: @mobile-breakpoint) {
      width: unset !important;
    }
  }
}*/

.search-template {
  .site-footer {
    width: 1100px !important;
    max-width: 90%;
    @media (max-width: @mobile-breakpoint) {
      width: unset !important;
      max-width: unset;
    }

    .footer-wrapper {
      width: unset;
      max-width: unset;
      @media (max-width: @tablet-breakpoint) {
        border-top: unset;
      }
      @media (max-width: @mobile-breakpoint) {
        width: 80%;
        max-width: unset;
        margin: 50px auto 30px;
      }
    }
  }
}
