@import '../variables.less';
@import '../mixins.less';

.search-results {
    margin: 0;
    padding: 20px !important;
    box-shadow: 4px 4px 10px rgba(45, 47, 55, 0.2);
    max-height: unset !important;
    width: 340px;

    header {
        align-items: center;
        margin: 0 !important;
        border-bottom: 1px solid #f3f3f3;
        padding: 5px 0 15px;

        .search-results-title {
            margin: 0;
            color: #90949b;
            font-family: @header-font-secondary;
            font-weight: normal;
            font-size: 1.1em;
        }
    }

    .search-results-count {
        font-size: 0.8em;
        opacity: 0.9;
        max-height: unset;
    }

    .ais-Hits {
      padding-top: 0 !important;
    }

    .ais-Hits-list {
        margin: 0 !important;
    }

    .ais-Hits-item {
        padding: 15px 0;
        border-bottom: 1px solid #eaeaea;
        margin: 0;
        width: -webkit-fill-available;

        &:last-of-type {
            margin-bottom: 0;
            border-bottom: 0;
            padding-bottom: 0;
        }

        &:hover {
            background: @hover-color;
            color: white;
            cursor: pointer;

            * {
                color: white !important;
            }
        }

        .search-result {
            display: flex;
            align-items: center;
            justify-content: left;
        }
    }

    .search-result {
        display: flex;
        justify-content: space-between;

        h4 {
          font-weight: 600;
          color: #585f6d;
        }

        .search-result-details {
            width: 220px;

            .search-result-title {
                margin-bottom: 10px;
                color: #585f6d;
                font-size: .95em;
                font-family: @header-font;
                line-height: 1.2 !important;
                display: block;
                opacity: 0.85;
                font-weight: normal;
                letter-spacing: -.5px;
            }

            .search-result-tag {
                display: block;
                font-size: 0.8em;
                font-weight: 500;
                opacity: 0.6;
                line-height: 1;

                svg {
                    position: relative !important;
                    right: unset;
                    width: unset;
                    color: #606060;
                }
            }

            .search-result-excerpt {
                line-height: 1.1;
            }
        }

        .search-result-image {
            max-width: 100px;
            height: 66px;
            margin-right: 12px;
            border-radius: 2px;
        }
    }
}

.ais-SearchBox-form {
    &:focus,
    &:hover {
        svg {
            color: #95aaba !important;
        }
    }

    input {
        line-height: normal;
        background: #efefef;
        width: 263px !important;
        border: 0;
        padding: 13px 17px;
        font-size: 1em;
        border-radius: 4px;
        transition: @transition;
        margin: 0;

        &::placeholder {
            color: lighten(grey, 2%);
        }

        &:focus,
        &:hover {
            background: #e1edf6;

            &::placeholder {
                color: lighten(#95aaba, 10%);
                transition: @transition;
            }
        }

        svg {
            transition: @transition;
        }
    }

    .ais-SearchBox-reset {
        display: none;
    }

    &:focus,
    &:hover {
        svg {
            color: #95aaba;
        }
    }

    button {
        display: none;
    }
}
