.commento-root {
    padding: 30px 0 0;
    width: -webkit-fill-available !important;
    overflow-x: visible !important;
    margin: 30px 0 20px;
}

@media (max-width: 800px) {
    .commento-root {
      margin: 0;
      padding: 0;
    }
}

.commento-root * {
  font-size: 14px !important;
  line-height: 1.25 !important;
}

.commento-root p,
.commento-root a, {
    font-size: 13px !important;
}

.commento-root .commento-button-margin {
    box-shadow: 0 !important;
}

.commento-root .commento-root-font * {
    font-family: 'Genera-Regular', sans-serif;
}

.commento-root .commento-card .commento-name {
    font-family: 'TTNormsPro-Medium', sans-serif;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 1 !important;
    margin-left: 0 !important;
    color: #6b6e73 !important;
    margin: 0 0 3px 0 !important;

}

.commento-root .commento-subtitle {
    margin-left: 0 !important;
}

.commento-root .commento-subtitle * {
    line-height: 1;
    color: #7c8a8f !important;
}

.commento-root .commento-avatar,
.commento-root .commento-avatar-img {
    display: none !important;
}

.commento-root .commento-sort-policy-buttons-container {
    display: none !important;
}

.commento-header {
  position: relative;
}

.commento-root .commento-options {
    margin-top: 0;
    height: 20px !important;
    width: 150px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute !important;
    right: 0;
    top: 0;
    float: unset;
}

@media(max-width: 600px) {
  .commento-root .commento-options {
    width: 120px !important;
  }
}

.commento-options-clearfix {
  display: none;
}

.commento-options-mobile {
  margin: 20px !important;
}

.commento-options .commento-option-button {
  right: unset !important;
  position: relative !important
}

.commento-root .commento-options button {
    margin: 0 !important;
}

.commento-root .commento-options button.commento-option-reply {
    height: 20px !important;
    width: 20px !important;
}

.commento-root .commento-error-box {
    width: -webkit-fill-available !important;
    border-radius: 4px;
    height: auto !important;
    font-family: 'TTNormsPro-Medium', sans-serif;
    text-align: center;
    color: #bc8e8e !important;
    background: #efe2e4;
    margin-bottom: 10px;
    line-height: 1 !important;
    padding: 20px;
    border: 1px solid #dccacd !important;
}

.commento-root #commento-logged-container {
    display: none;
}

.commento-root #commento-logged-container .commento-logout {
    position: relative;
    color: #adb5bd;
}

.commento-root .commento-main-area {
    transition: filter 0.2s;
    display: flex !important;
    flex-direction: column !important;
    flex-flow: column-reverse !important;
}

.commento-root .commento-main-area .commento-comments {
    margin-bottom: 10px;
}

.commento-root .commento-main-area .commento-comments>div>.commento-card {
    border-left: none !important;
    padding: 30px !important;
    border-radius: 2px !important;
    box-shadow: 0 1px 4px rgba(39, 44, 49, 0.15);

}

@media(max-width: 600px) {
  .commento-root .commento-main-area .commento-comments>div>.commento-card {
    padding: 20px !important;
  }
}

.commento-root .commento-button-margin {
    padding-top: 0 !important;
    position: relative;
}

.commento-root .commento-button-margin:hover .commento-submit-button {
    opacity: 1;
}

.commento-root .commento-button-margin textarea {
    margin-top: 13px;
}

.commento-anonymous-checkbox-container {
  display: none;
}

.commento-root .commento-card {
    background: white;
    margin-top: 0 !important;
    position: relative;
}

@media (max-width: 600px) {
    .commento-root .commento-card {
        padding: 20px !important;
    }
}

.commento-root .commento-card .commento-card {
    margin-left: 20px !important;
    margin-top: 25px !important;
    box-shadow: none !important;
    padding: 30px 0 0 30px !important !important;
    overflow: hidden;
}

@media (max-width: 600px) {
    .commento-root .commento-card .commento-card {
        margin-left: 10px !important;
        margin-top: 20px !important;
        padding-bottom: 0 !important;
    }
}

.commento-root .commento-card>div:nth-of-type(2) {
    margin: 0;
}

.commento-root .commento-card .commento-button-margin {
    box-shadow: 0 !important;
}

.commento-root .commento-card .commento-markdown-button {
    display: none;
}

.commento-root .commento-card .commento-submit-button {
    top: 80px !important;
}

.commento-root .commento-card p {
    margin: 10px 0 0 !important;
    line-height: 1.3 !important;
}

.commento-root .commento-card .commento-body {
    font-size: 0.9em !important;
}

.commento-root .commento-submit-button {
    color: white !important;
    text-transform: uppercase !important;
    font-size: 0.7em !important;
    padding: 10px 12px !important;
    line-height: 1 !important;
    font-family: 'TTNormsPro-Bold', sans-serif !important;
    box-shadow: none !important;
    transition: all 0.2s ease-out;
    position: absolute !important;
    top: 81px !important;
    background: #6baaf2 !important;
    border: 1px solid #6baaf2 !important;
    border-radius: 0 !important;
    right: 12px !important;
    display: block !important;
    margin: 0 !important;
    z-index: 10;
    opacity: 0;
    height: 35px;
}

@media (max-width: 600px) {
    .commento-root .commento-submit-button {
        right: 10px !important;
        top: 82px !important;
    }
}

.commento-root .commento-submit-button:hover {
    background: white !important;
    color: #6baaf2 !important;
    border: 1px solid #6baaf2 !important;
}

.commento-root .commento-footer {
    display: none;
}

.commento-root .commento-login-text {
    display: none !important;
}

.commento-root .commento-markdown-button {
    bottom: 4px !important;
    line-height: 1 !important;
}

@media (max-width: 600px) {
    .commento-root .commento-markdown-button {
        display: none;
    }
}

.commento-root #commento-textarea-root,
.commento-root textarea {
    overflow: hidden !important;
    padding: 15px !important;
    border-radius: 2px;
    height: 100px;
    min-height: unset !important;
    position: relative;
    -webkit-appearance: none !important;
    max-height: 97px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    /*   border: 1px solid rgba(50,50,93,.2) !important; */
    margin-top: 0 !important;
    box-shadow: 0 1px 4px rgba(39, 44, 49, 0.15);
}

.commento-root #commento-textarea-root:hover,
.commento-root textarea:hover {
    background: #f8fbfe !important;
    border: 1px solid #6baaf2 !important;
}

.commento-root #commento-textarea-root:hover::placeholder,
.commento-root textarea:hover::placeholder {
    opacity: 0;
}

.commento-root #commento-textarea-root:focus,
.commento-root textarea:focus {
    border: 1px solid #6baaf2 !important;
    background: white !important;
}

.commento-root #commento-textarea-root::placeholder,
.commento-root textarea::placeholder {
    color: #aeb1bd !important;
    text-transform: uppercase;
    font-family: 'Genera-Regular', sans-serif;
    padding-bottom: 50px !important;
    transition: all 0.2s ease-out;
    opacity: 0.8;
    font-size: 1.1em;
}

@media (max-width: 600px) {

    .commento-root #commento-textarea-root::placeholder,
    .commento-root textarea::placeholder {
        font-size: 0.9em;
    }
}

.commento-root #commento-textarea-root ::-webkit-input-placeholder,
.commento-root textarea ::-webkit-input-placeholder {
    /* WebKit browsers */
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    position: 0 0 !important;
    height: 100px !important;
    width: 400px !important;
}

.commento-root .commento-markdown-button {
    position: absolute;
    top: 100px;
    left: 20px;
    margin: 0 !important;
    background: none;
    height: fit-content;
}

.commento-root .commento-markdown-button * {
    background: none !important;
}

.commento-root .commento-markdown-help {
    padding: 15px;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
}

@media (max-width: 600px) {
    .commento-root .commento-markdown-help td {
        font-size: 10px;
    }
}

.commento-root .commento-markdown-help * {
    font-size: 0.95em !important;
}

.commento-root .commento-markdown-help tr td {
    padding: 0 6px 4px !important;
}

.commento-root .commento-markdown-help tr td:last-of-type {
    padding: 0 6px 0 !important;
}

.commento-root .commento-logo-text {
    display: none !important;
}

.commento-textarea-super-container-root {
  position: relative;
}

.commento-textarea-super-container-root:focus {
    opacity: 0;
}

.commento-login-text {
    display: none;
}

.commento-login-box {
    width: 90%;
    max-width: 500px;
    min-height: 100px;
    background: #f1f3f5;
    z-index: 100;
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    margin: auto;
    padding: 16px;
    opacity: 1;
    transition: opacity 0.2s;
    box-shadow: 0 0 200px #576280;
}
