@import url("//hello.myfonts.net/count/3aa5ee");

@font-face {
    font-family: 'Gilroy-SemiBold';
    font-display: swap;
    src: url('fonts/3AA5EE_0_0.eot');
    src: url('fonts/3AA5EE_0_0.eot?#iefix') format('embedded-opentype'), url('fonts/3AA5EE_0_0.woff2') format('woff2'), url('fonts/3AA5EE_0_0.woff') format('woff'), url('fonts/3AA5EE_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Regular';
    font-display: swap;
    src: url('fonts/3AA5EE_1_0.eot');
    src: url('fonts/3AA5EE_1_0.eot?#iefix') format('embedded-opentype'), url('fonts/3AA5EE_1_0.woff2') format('woff2'), url('fonts/3AA5EE_1_0.woff') format('woff'), url('fonts/3AA5EE_1_0.ttf') format('truetype');
}
